<IfModule mod_version.c>
<IfVersion < 2.4>
Deny from All
</IfVersion>
<IfVersion >= 2.4>
Require all denied
</IfVersion>
</IfModule>
<IfModule !mod_version.c>
<IfModule !mod_authz_core.c>
Deny from all
</IfModule>
<IfModule mod_authz_core.c>
Require all denied
</IfModule>
</IfModule>
<IfModule mod_autoindex.c>
Options -Indexes
</ifModule>