<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<noscript>
			<meta http-equiv="refresh" content="0; URL={{BaseIndexFile}}?/NoScript" />
		</noscript>
		<!--[if lte IE 7]>
			<meta http-equiv="refresh" content="0; URL={{BaseIndexFile}}?/BadBrowser" />
		<![endif]-->
		<script>
			if (!navigator || !navigator.cookieEnabled) {
				document.location.replace('{{BaseIndexFile}}?/NoCookie');
			}
		</script>
		<meta name="robots" content="noindex, nofollow, noodp" />
		<title></title>
		<link rel="shortcut icon" href="{{BaseAppFaviconFile}}" data-external="true" />
		<link type="text/css" rel="stylesheet" href="{{BaseAppMainCssLink}}" data-external="true" />
		<script data-external="true" src="{{BaseAppJqueryScriptLink}}"></script>
		<script data-external="true" src="{{BaseAppLibsScriptLink}}"></script>
		<script>
			document.write(unescape('%3Cscript data-external="true" src="{{BaseAppDataScriptLink}}' + (window.__rlah ? window.__rlah() || '0' : '0') + '/"%3E%3C/script%3E'))
		</script>
		<script>
			if (window.rainloopAppData && window.rainloopAppData['Theme'] && window.rainloopAppData['NewThemeLink']) {
				var sHref = window.rainloopAppData['NewThemeLink'];
				if ('Custom' === window.rainloopAppData['Theme']) {
					sHref = sHref.replace('/Css/0/User/-/Custom/-/', '/Css/' + (window.__rlah ? window.__rlah() || '0' : '0') + '/User/-/Custom/-/');
				}

				document.write('<link type="text/css" type="text/css" rel="stylesheet" href="' + sHref + '" data-external="true" id="rlThemeLink" />');
				sHref = null;
			}
		</script>
	</head>
	<body class="thm-body">
		<div id="rl-loading" class="thm-loading">RainLoop</div>
		<div id="rl-content">
			<div id="rl-popups"></div>
			<div id="rl-center">
				<div id="rl-top"></div>
				<div id="rl-left"></div>
				<div id="rl-right"></div>
				<div id="rl-bottom"></div>
			</div>
		</div>
		<div id="rl-hidden">
			<script>
				if (window.rainloopAppData && window.rainloopAppData['LangLink']) {
					document.write('<script src="' + window.rainloopAppData['LangLink'] + '"><\/script>');
				}
			</script>
			{{BaseTemplates}}
			<script src="{{BaseAppMainScriptLink}}"></script>
			<script>
				if (window.rainloopAppData && window.rainloopAppData['PluginsLink']) {
					document.write('<script src="' + window.rainloopAppData['PluginsLink'] + '"><\/script>');
				}
			</script>
		</div>
	</body>
</html>
