<div class="control-group" data-bind="css: {'error': actionValue.error}">
	<div class="controls">
		<input type="text" data-bind="value: actionValue" placeholder="Email @i18n" />
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<div data-bind="component: {
			name: 'Checkbox',
			params: {
				label: 'keep in INBOX @i18n',
				value: actionKeep
			}
		}"></div>
		<div data-bind="visible: $root.allowMarkAsRead, component: {
			name: 'Checkbox',
			params: {
				label: 'Mark as read @i18n',
				value: actionMarkAsRead
			}
		}"></div>
	</div>
</div>