<div class="control-group" data-bind="css: {'error': actionValue.error}">
	<div class="controls">
		<select data-bind="options: $root.folderSelectList, value: $root.selectedFolderValue,
			optionsText: 'name', optionsValue: 'id', optionsAfterRender: $root.defautOptionsAfterRender"></select>
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<div data-bind="visible: $root.allowMarkAsRead, component: {
			name: 'Checkbox',
			params: {
				label: 'Mark as read @i18n',
				value: actionMarkAsRead
			}
		}"></div>
	</div>
</div>