
:root {
/* Nextcloud
	--color-main-text: #222;
	--color-main-background: #fff;
	--color-main-background-translucent: rgba(255, 255, 255, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: whitesmoke;
	--color-background-dark: #ededed;
	--color-background-darker: #dbdbdb;
	--color-placeholder-light: #e6e6e6;
	--color-placeholder-dark: #ccc;
	--color-primary: #0082c9;
	--color-primary-hover: #339bd4;
	--color-primary-light: #e6f3fa;
	--color-primary-light-hover: #dce9ef;
	--color-primary-text: #ffffff;
	--color-primary-light-text: #0082c9;
	--color-primary-text-dark: #ededed;
	--color-primary-element: #0082c9;
	--color-primary-element-hover: #339bd4;
	--color-primary-element-light: #17adff;
	--color-primary-element-lighter: #d9ecf7;
	--color-error: #e9322d;
	--color-error-hover: #ed5b57;
	--color-warning: #eca700;
	--color-warning-hover: #f0b933;
	--color-success: #46ba61;
	--color-success-hover: #6bc881;
	--color-text-maxcontrast: #767676;
	--color-text-light: #222;
	--color-text-lighter: #767676;
	--color-loading-light: #ccc;
	--color-loading-dark: #444;
	--color-box-shadow: rgba(77, 77, 77, 0.5);
	--color-border: #ededed;
	--color-border-dark: #dbdbdb;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
*/
	--fontSans: var(--font-face);

	/* MAIN */
	--main-color: var(--color-main-text, #333);
	--main-bg-color: var(--color-main-background, transparent);
	--main-bg-image: none;

	/* LOADING */
	--loading-color: #000;

	/* LOGIN */
	--login-color: var(--color-main-text, #eee);
	--login-bg-color: var(--color-background-darker, rgba(0,0,0,0.5));
	--login-box-shadow: none;
	--login-border: none;
	--login-border-radius: var(--border-radius-large, 7px);

	/* MENU */
	--dropdown-menu-color: var(--color-main-text, #333);
	--dropdown-menu-bg-color: var(--color-main-background, #fff);
	--dropdown-menu-hover-bg-color: var(--color-background-hover, #757575);
	--dropdown-menu-hover-color: var(--color-main-text, #eee);
	--dropdown-menu-disable-color: #999;

	/* FOLDERS */
	--folders-color: #333;
	--folders-disabled-color: #999;
	--folders-selected-color: var(--color-primary);
	--folders-selected-bg-color: var(--color-background-darker);
	--folders-focused-color: var(--color-primary);
	--folders-focused-bg-color: var(--color-background-dark);
	--folders-hover-color: var(--color-primary-hover);
	--folders-hover-bg-color: var(--color-background-hover);
	--folders-drop-color: var(--color-primary-hover);
	--folders-drop-bg-color:  var(--color-background-hover);

	/* SETTINGS */
	--settings-menu-color: #333;
	--settings-menu-selected-color: #eee;
	--settings-menu-selected-bg-color: rgba(0,0,0,0.5);
	--settings-menu-hover-color: #eee;
	--settings-menu-hover-bg-color: rgba(0,0,0,0.5);

	/* MESSAGE LIST */
	--message-list-toolbar-bg-color: #eee;
}

.thm-message-list-top-toolbar, .thm-message-list-bottom-toolbar {
    background-image: linear-gradient(to bottom, #f4f4f4, #dfdfdf) !important;
    background-repeat: repeat-x !important;
}
#V-AdminPane > .b-toolbar {
	color: var(--main-color);
	text-shadow: none;
}
#V-PopupsCompose header {
	background-color: #0082c9;
	background-image: linear-gradient(40deg, #0082c9 0%, #30b6ff 100%);
	color: #fff;
}

.messageList, .messageView {
	border-color: var(--color-border);
	border-radius: var(--border-radius);
}
#V-MailFolderList.focused .b-content,
#V-MailMessageList.focused .messageList,
#V-MailMessageView.focused .messageView {
	border-color: var(--color-border-dark);
	box-shadow: 0 2px 8px var(--color-box-shadow);
}

#V-MailMessageView,
.b-folders .b-content {
	bottom: 5px;
	top: 50px;
}

.messageListItem * {
	cursor: pointer;
}

/**
 * hampoelz
 * https://github.com/the-djmaze/snappymail/issues/96#issuecomment-1279783076
 */

.messageList {
	margin: 0 5px;
}

a.selectable {
	margin: 2px;
	height: 38px !important;
	line-height: 38px !important;
	border-radius: var(--border-radius-pill);
}

a.selectable::after {
	display: block;
	margin: 0 !important;
	top: 50%;
	transform: translateY(-50%);
}

.btn {
	border: initial !important;
}
