*.bak
*.old
/api.php
/*.log
/snappymail/v/0.0.0/static/*
/node_modules
/build/local
/build/dist
/build/tmp
/build/docker
/.docker/dev/.cache
/.docker/dev/mail/config
/.docker/dev/nginx/ssl/*
!/.docker/dev/nginx/ssl/.gitempty
/dist
/data
/MULTIPLY
/include.php
.idea/
.env
