/*.bak
/api.php
/*.log
/snappymail/v/0.0.0/static/*
/node_modules
/build/local
/build/dist
/build/tmp
/build/docker
/.docker/.cache
/.docker/mail/config
/.docker/nginx/ssl/*
!/.docker/nginx/ssl/.gitempty
/dist
/data
/MULTIPLY
/include.php
.idea/
.env