<div class="b-admin-branding">
	<div class="form-horizontal">
		<div class="legend" data-i18n="TAB_BRANDING/LEGEND_BRANDING"></div>
		<div class="control-group">
			<label class="control-label" data-i18n="TAB_BRANDING/LABEL_PAGE_TITLE"></label>
			<div class="controls">
				<div data-bind="component: {
					name: 'Input',
					params: {
						value: title,
						trigger: title.trigger,
						size: 5
					}
				}"></div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" data-i18n="TAB_BRANDING/LABEL_LOADING_DESCRIPTION"></label>
			<div class="controls">
				<div data-bind="component: {
					name: 'Input',
					params: {
						value: loadingDesc,
						trigger: loadingDesc.trigger,
						size: 5
					}
				}"></div>
			</div>
		</div>
	</div>
	<br />
	<div class="form-horizontal" data-bind="css: {'disabled-form': !capa()}">
		<div class="legend" data-i18n="TAB_BRANDING/LEGEND_LOGIN"></div>
		<div class="control-group">
			<label class="control-label" data-i18n="TAB_BRANDING/LABEL_LOGIN_LOGO"></label>
			<div class="controls">
				<div data-bind="component: {
					name: 'Input',
					params: {
						value: loginLogo,
						trigger: loginLogo.trigger,
						placeholder: 'https://',
						size: 5,
						enable: capa
					}
				}"></div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" data-i18n="TAB_BRANDING/LABEL_LOGIN_DESCRIPTION"></label>
			<div class="controls">
				<div data-bind="component: {
					name: 'Input',
					params: {
						value: loginDescription,
						trigger: loginDescription.trigger,
						size: 5,
						enable: capa
					}
				}"></div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" data-i18n="TAB_BRANDING/LABEL_LOGIN_BACKGROUND"></label>
			<div class="controls">
				<div data-bind="component: {
					name: 'Input',
					params: {
						value: loginBackground,
						trigger: loginBackground.trigger,
						placeholder: 'https://',
						size: 5,
						enable: capa
					}
				}"></div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" data-i18n="TAB_BRANDING/LABEL_LOGIN_CUSTOM_CSS"></label>
			<div class="controls">
				<div class="custom-css-wrapper" data-bind="component: {
					name: 'TextArea',
					params: {
						value: loginCss,
						trigger: loginCss.trigger,
						width: 495,
						enable: capa,
						rows: 7
					}
				}"></div>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<div data-bind="component: {
					name: 'Checkbox',
					params: {
						enable: capa,
						label: 'TAB_BRANDING/LABEL_LOGIN_SHOW_POWERED_LINK',
						value: loginPowered
					}
				}"></div>
			</div>
		</div>
		<div class="legend" data-i18n="TAB_BRANDING/LEGEND_USER"></div>
<!--
		<div class="control-group">
			<label class="control-label" data-i18n="TAB_BRANDING/LABEL_USER_LOGO"></label>
			<div class="controls">
				<div data-bind="component: {
					name: 'Input',
					params: {
						value: userLogo,
						trigger: userLogo.trigger,
						placeholder: 'https://',
						size: 5,
						enable: capa
					}
				}"></div>
			</div>
		</div>
-->
		<div class="control-group">
			<label class="control-label" data-i18n="TAB_BRANDING/LABEL_USER_CUSTOM_CSS"></label>
			<div class="controls">
				<div class="custom-css-wrapper" data-bind="component: {
					name: 'TextArea',
					params: {
						value: userCss,
						trigger: userCss.trigger,
						width: 495,
						enable: capa,
						rows: 7
					}
				}"></div>
			</div>
		</div>
		<div class="row" data-bind="visible: !capa()">
			<div class="alert span8" style="margin-top: 10px;" data-i18n="[html]TAB_BRANDING/HTML_ALERT_PREMIUM"></div>
		</div>
	</div>
</div>