<div class="b-admin-about">
	<div class="form-horizontal">
		<div class="legend" data-i18n="TAB_ABOUT/LEGEND_ABOUT"></div>
		<div class="row" style="min-width: 800px;">
			<div class="span4">
				<div class="rl-logo"></div>
				<div style="margin-left: 30px;">
					2020 © <span data-i18n="TAB_ABOUT/LABEL_ALL_RIGHTS_RESERVED"></span>
					<br />
					<a class="g-ui-link" href="https://www.rainloop.net/" target="_blank" style="padding-left: 0">https://rainloop.net/</a>
				</div>
			</div>
			<div class="rl-desc" style="float: left">
				<h1 style="margin-bottom: 0;">RainLoop</h1>
				<h4 style="margin-top: 0;">
					<span data-bind="text: version"></span>
					<span data-bind="visible: 'stable' !== coreType()" style="padding-left: 3px; color: red; font-weight: normal">
						(<span data-bind="text: coreType"></span> channel)
					</span>
				</h4>
				<h4 style="color: #aaa; font-weight: normal;" data-i18n="TAB_ABOUT/LABEL_TAG_HINT"></h4>
			</div>
		</div>
	</div>
</div>
