<div class="adminSecurity">
	<div class="row">
		<div class="alert alert-info span10" style="margin-top: 10px;">
			Detailed information on social integration is found at
			<a href="http://rainloop.net/docs/social/" target="_blank">http://rainloop.net/docs/social/</a>
		</div>
	</div>
	<div class="form-horizontal g-ui-user-select-none">
		<div class="legend">
			Google
		</div>
		<div class="control-group">
			<div class="controls">
				<div data-bind="component: {
					name: 'Checkbox',
					params: { value: googleEnable, label: 'Enable Google Integration' }
				}"></div>
				<div data-bind="visible: googleEnable">
					<br />
					<blockquote>
						<div data-bind="component: {
							name: 'Checkbox',
							params: { value: googleEnable.auth, label: 'Authentication' }
						}"></div>
						<div data-bind="component: {
							name: 'Checkbox',
							params: { value: googleEnable.drive, label: 'Google Drive Integration (Compose view)' }
						}"></div>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">
			   Client ID
			</label>
			<div class="controls">
				<input type="text" class="span5" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
					data-bind="value: googleClientID, saveTrigger: googleTrigger1" />
				<div data-bind="saveTrigger: googleTrigger1"></div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">
			   Client Secret
			</label>
			<div class="controls">
				<input type="text" class="span5" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
					data-bind="value: googleClientSecret, saveTrigger: googleTrigger2" />
				<div data-bind="saveTrigger: googleTrigger2"></div>
			</div>
		</div>
		<br />
		<div class="control-group">
			<label class="control-label">
				Api Key
			</label>
			<div class="controls">
				<div data-bind="component: {
					name: 'Input',
					params: {
						value: googleApiKey,
						trigger: googleTrigger3,
						size: 5,
						enable: googleEnable.drive
					}
				}"></div>
				<blockquote style="margin-top: 10px; margin-bottom: 0">
					<p class="muted">
						Required for Google Drive File Picker
					</p>
				</blockquote>
			</div>
		</div>
		<div class="legend">
			Facebook
			<span style="color: #ccc; font-size: 14px;" data-bind="visible: !facebookSupported()">(requires PHP 5.4 or greater)</span>
		</div>
		<div data-bind="if: facebookSupported">
			<div class="control-group">
				<div class="controls">
					<div data-bind="component: {
						name: 'Checkbox',
						params: { value: facebookEnable, label: 'Enable Facebook Integration (Authentication)' }
					}"></div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">
				   App ID
				</label>
				<div class="controls">
					<input type="text" class="span5" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
						data-bind="value: facebookAppID, saveTrigger: facebookTrigger1" />
					<div data-bind="saveTrigger: facebookTrigger1"></div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">
				   App Secret
				</label>
				<div class="controls">
					<input type="text" class="span5" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
						data-bind="value: facebookAppSecret, saveTrigger: facebookTrigger2" />
					<div data-bind="saveTrigger: facebookTrigger2"></div>
				</div>
			</div>
		</div>
		<div class="legend">
			Twitter
		</div>
		<div class="control-group">
			<div class="controls">
				<div data-bind="component: {
					name: 'Checkbox',
					params: { value: twitterEnable, label: 'Enable Twitter Integration (Authentication)' }
				}"></div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">
			   Consumer Key
			</label>
			<div class="controls">
				<input type="text" class="span5" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
					data-bind="value: twitterConsumerKey, saveTrigger: twitterTrigger1" />
				<div data-bind="saveTrigger: twitterTrigger1"></div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">
			   Consumer Secret
			</label>
			<div class="controls">
				<input type="text" class="span5" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
					data-bind="value: twitterConsumerSecret, saveTrigger: twitterTrigger2" />
				<div data-bind="saveTrigger: twitterTrigger2"></div>
			</div>
		</div>
		<div class="legend">
			Dropbox
		</div>
		<div class="control-group">
			<div class="controls">
				<div data-bind="component: {
					name: 'Checkbox',
					params: { value: dropboxEnable, label: 'Enable Dropbox Integration (Compose view)' }
				}"></div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">
			   Api Key
			</label>
			<div class="controls">
				<input type="text" class="span5" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
					data-bind="value: dropboxApiKey, saveTrigger: dropboxTrigger1" />
				<div data-bind="saveTrigger: dropboxTrigger1"></div>
			</div>
		</div>
	</div>
</div>