/*
SnappyMail runs in an iframe, so this style sheet is not used there.
Only needed to give you the opportunity to theme the nextcloud part of this app.
However, there is hidden code in the PageController to embed instead of using an iframe.
Then the below #rl-app can be used to style it.
*/
#rl-app {
	position: relative;
	min-width: 100%;
	min-height: 100%;
}

#content[class*="app-"] #rl-app * {
	box-sizing: content-box;
}
#content[class*="app-"] #rl-app #V-Settings-Domains .domain-name,
#content[class*="app-"] #rl-app #V-Settings-Domains .domain-alias
#content[class*="app-"] #rl-app #rl-settings-subscreen,
#content[class*="app-"] #rl-app .e-checkbox.material-design > div > div,
#content[class*="app-"] #rl-app .attachmentItem .iconMain,
#content[class*="app-"] #rl-app .attachmentItem .iconPreview,
#content[class*="app-"] #rl-app #V-PopupsCompose .textAreaParent,
#content[class*="app-"] #rl-app #V-PopupsCompose .attachmentAreaParent,
#content[class*="app-"] #rl-app .emailaddresses,
#content[class*="app-"] #rl-app .squire-wysiwyg,
#content[class*="app-"] #rl-app .squire-plain,
/* bootstrap */
#content[class*="app-"] #rl-app .btn-block,
#content[class*="app-"] #rl-app select,
#content[class*="app-"] #rl-app .select,
#content[class*="app-"] #rl-app textarea,
#content[class*="app-"] #rl-app input,
#content[class*="app-"] #rl-app .input-block-level
{
	box-sizing: border-box;
}
.squire-wysiwyg {
	min-width: 100%;
	min-height: 100%;
}
