<div class="b-admin-general">
	<div class="row" data-bind="visible: weakPassword">
		<div class="alert alert-error span8">
				<h4>Warning!</h4>
				<br />
				You are using the default admin password.
				<br />
				For security reasons please <strong><a href="#/security">change</a></strong>
				password to something else now.
		</div>
	</div>
	<div class="form-horizontal">
		<div class="legend">
			General
		</div>
		<div class="control-group">
			<label class="control-label">
				Language
			</label>
			<div class="controls">
				<label class="flag-selector">
					<span class="flag-wrapper">
						<span data-bind="css: 'flag flag-' + mainLanguage()" style=""></span>
					</span>
					<span class="flag-name" data-bind="text: mainLanguageFullName, click: selectLanguage"></span>
					<div data-bind="saveTrigger: languageTrigger"></div>
				</label>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">
				Theme
			</label>
			<div class="controls">
				<select class="span2" data-bind="options: themesOptions, value: mainTheme, optionsText: 'optText', optionsValue: 'optValue', saveTrigger: themeTrigger"></select>
				<div data-bind="saveTrigger: themeTrigger"></div>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<label data-bind="click: function () { allowLanguagesOnSettings(!allowLanguagesOnSettings()); }">
					<i data-bind="css: allowLanguagesOnSettings() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					Allow language selection on settings screen
				</label>
				<label data-bind="click: function () { allowThemes(!allowThemes()); }">
					<i data-bind="css: allowThemes() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					Allow theme selection on settings screen
				</label>
				<label data-bind="click: function () { allowCustomTheme(!allowCustomTheme()); }">
					<i data-bind="css: allowCustomTheme() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					Allow customized theme
				</label>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<label data-bind="click: function () { allowAdditionalAccounts(!allowAdditionalAccounts()); }">
					<i data-bind="css: allowAdditionalAccounts() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					Allow additional accounts
				</label>
				<label data-bind="click: function () { allowIdentities(!allowIdentities()); }">
					<i data-bind="css: allowIdentities() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					Allow additional identities
				</label>
			</div>
		</div>
	</div>
</div>