<div class="b-admin-general">
	<div class="form-horizontal">
		<div class="legend">
			Login Screen
		</div>
		<div class="control-group">
			 <label class="control-label">
				Default Domain
			 </label>
			<div class="controls">
				<input type="text" class="span3" data-bind="value: defaultDomain, saveTrigger: defaultDomainTrigger" />
				<div data-bind="saveTrigger: defaultDomainTrigger"></div>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<label data-bind="click: function () { allowLanguagesOnLogin(!allowLanguagesOnLogin()); }">
					<i data-bind="css: allowLanguagesOnLogin() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					Allow language selection on login screen
				</label>
				<label data-bind="click: function () { determineUserLanguage(!determineUserLanguage()); }">
					<i data-bind="css: determineUserLanguage() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					Try to determine user language
				</label>
				<br />
				<label data-bind="click: function () { allowCustomLogin(!allowCustomLogin()); }">
					<i data-bind="css: allowCustomLogin() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					Enable additional Login field on login screen
				</label>
			</div>
		</div>
	</div>
</div>