<style data-bind="csstext: logoCss"></style>
<div class="b-login-content">
	<div class="loginFormWrapper">
		<center>
			{{INCLUDE/BeforeLogo/PLACE}}
			<!-- ko if: logoImg -->
			<div class="logoWrapper">
				<img class="logoImg" data-bind="attr: {'src': logoImg }" />
			</div>
			<!-- /ko -->
			<div class="descWrapper thm-login-desc" data-bind="visible: '' !== loginDescription">
				<span class="desc" data-bind="text: loginDescription"></span>
			</div>
			{{INCLUDE/AfterLogo/PLACE}}
			<div class="alert alertError" data-bind="visible: '' !== submitError()">
				<button type="button" class="close" data-bind="click: function () { submitError('') }">&times;</button>
				<span data-bind="text: submitError"></span>
			</div>
			<form class="form-horizontal span4 wrapper loginForm thm-login" action="#/" onsubmit="return false;" data-bind="command: submitCommand">
				{{INCLUDE/TopControlGroup/PLACE}}
				<div class="control-group" data-bind="css: {'error': emailError}">
					<div class="input-append">
						<input class="i18n inputEmail span4" type="email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
							data-bind="value: email, hasFocus: emailFocus" data-i18n-placeholder="LOGIN/LABEL_EMAIL" />
						<span class="add-on">
							<i class="icon-mail"></i>
						</span>
					</div>
				</div>
				<div class="control-group" data-bind="css: {'error': loginError}, visible: allowCustomLogin()">
					<div class="input-append">
						<input class="i18n inputLogin span4" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
							data-bind="value: login, hasFocus: loginFocus"  data-i18n-placeholder="LOGIN/LABEL_LOGIN" />
						<span class="add-on">
							<i class="icon-user"></i>
						</span>
					</div>
				</div>
				<div class="control-group" data-bind="css: {'error': passwordError}">
					<div class="input-append">
						<input class="i18n inputPassword span4" type="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
							data-bind="value: password" data-i18n-placeholder="LOGIN/LABEL_PASSWORD" />
						<span class="add-on">
							<i class="icon-key"></i>
						</span>
					</div>
				</div>
				<div class="control-group" data-bind="visible: additionalCode.visibility(), css: {'error': additionalCode.error}">
					<div class="input-append">
						<input class="i18n inputAdditionalCode span4" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
							data-bind="value: additionalCode, hasFocus: additionalCode.focused" data-i18n-placeholder="LOGIN/LABEL_VERIFICATION_CODE" />
						<span class="add-on">
							<i class="icon-key"></i>
						</span>
					</div>
				</div>
				<div class="control-group" data-bind="visible: additionalCode.visibility()">
					<label class="pull-left additionalCodeSignMeLabel" data-bind="click: function () { additionalCodeSignMe(!additionalCodeSignMe()); }">
						<i data-bind="css: additionalCodeSignMe() ? 'checkboxAdditionalCodeSignMe icon-checkbox-checked' : 'checkboxAdditionalCodeSignMe icon-checkbox-unchecked'"></i>
						&nbsp;&nbsp;
						<span class="i18n" data-i18n-text="LOGIN/LABEL_DONT_ASK_VERIFICATION_CODE"></span>
					</label>
				</div>
				{{INCLUDE/BottomControlGroup/PLACE}}
				<div class="control-group">
					<button type="submit" class="btn btn-large span4 buttonLogin" data-bind="command: submitCommand">
						<i class="icon-spinner animated" data-bind="visible: submitRequest"></i>
						<span class="i18n" data-i18n-text="LOGIN/BUTTON_SIGN_IN" data-bind="visible: !submitRequest()"></span>
					</button>
				</div>
				<div class="control-group">
					<label class="pull-left signMeLabel" data-bind="click: function () { signMe(!signMe()); }, visible: signMeVisibility">
						<i data-bind="css: signMe() ? 'checkboxSignMe icon-checkbox-checked' : 'checkboxSignMe icon-checkbox-unchecked'"></i>
						&nbsp;&nbsp;
						<span class="i18n" data-i18n-text="LOGIN/LABEL_SIGN_ME"></span>
					</label>
					<div class="pull-right">
						<div class="btn-group" data-bind="visible: socialLoginEnabled() || allowLanguagesOnLogin()">
							<a class="btn dropdown-toggle buttonLoginMore" data-toggle="dropdown">
								<i data-bind="css: langRequest() ? 'icon-spinner animated' : 'icon-list'"></i>
							</a>
							<ul class="dropdown-menu g-ui-menu">
								{{INCLUDE/MenuDropdownTop/PLACE}}
								<li class="e-item" data-bind="visible: facebookLoginEnabled">
									<a class="e-link" data-bind="command: facebookCommand">
										<i class="icon-facebook-alt"></i>
										&nbsp;&nbsp;
										<span class="i18n" data-i18n-text="LOGIN/TITLE_SIGN_IN_FACEBOOK"></span>
									</a>
								</li>
								<li class="e-item" data-bind="visible: googleLoginEnabled">
									<a class="e-link" data-bind="command: googleCommand">
										<i class="icon-google"></i>
										&nbsp;&nbsp;
										<span class="i18n" data-i18n-text="LOGIN/TITLE_SIGN_IN_GOOGLE"></span>
									</a>
								</li>
								<li class="e-item" data-bind="visible: twitterLoginEnabled">
									<a class="e-link" data-bind="command: twitterCommand">
										<i class="icon-twitter"></i>
										&nbsp;&nbsp;
										<span class="i18n" data-i18n-text="LOGIN/TITLE_SIGN_IN_TWITTER"></span>
									</a>
								</li>
								{{INCLUDE/MenuDropdownMiddle/PLACE}}
								<li class="divider" data-bind="visible: socialLoginEnabled() && allowLanguagesOnLogin()"></li>
								<li class="e-item" data-bind="visible: allowLanguagesOnLogin">
									<a class="e-link" data-bind="click: selectLanguage">
										<label class="flag-selector">
											<span class="flag-wrapper">
												<span data-bind="css: 'flag flag-' + mainLanguage()" style=""></span>
											</span>
											<span class="flag-name" data-bind="text: mainLanguageFullName"></span>
										</label>
									</a>
								</li>
								{{INCLUDE/MenuDropdownBottom/PLACE}}
							</ul>
						</div>
					</div>
				</div>
			</form>
		</div>
	</center>
	<div class="loginAfter"></div>
</div>
