<div class="popups">
	<div class="modal hide b-languages-content g-ui-user-select-none" data-bind="modal: modalVisibility, css: {'exp': exp}">
		<div class="modal-header">
			<button type="button" class="close" data-bind="command: cancelCommand">&times;</button>
			<h3>
				<span class="i18n" data-i18n-text="POPUPS_LANGUAGES/TITLE_LANGUAGES"></span>
			</h3>
		</div>
		<div class="modal-body">
			<div data-bind="foreach: languages">
				<label class="lang-item" data-tooltip-placement="left" data-bind="click: function () { $root.changeLanguage(key); }, css: {'selected': selected},
					tooltip2: function () { return $root.languageEnName(key); }">
					<span class="flag-wrapper">
						<span data-bind="css: 'flag flag-' + key" style=""></span>
					</span>
					<span class="lang-name" data-bind="text: fullName"></span>
				</label>
			</div>
		</div>
	</div>
</div>