<div class="popups">
	<div class="modal hide b-account-add-content g-ui-user-select-none" data-bind="modal: modalVisibility">
		<div>
			<div class="modal-header">
				<button type="button" class="close" data-bind="command: cancelCommand">&times;</button>
				<h3>
					<span class="i18n" data-i18n-text="POPUPS_ADD_ACCOUNT/TITLE_ADD_ACCOUNT"></span>
				</h3>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="alert" data-bind="visible: '' !== submitError()">
						<button type="button" class="close" data-bind="click: function () { submitError('') }">&times;</button>
						<span data-bind="text: submitError"></span>
					</div>
					<br />
					<div class="control-group" data-bind="css: {'error': emailError}">
						<label class="i18n control-label" data-i18n-text="LOGIN/LABEL_EMAIL"></label>
						<div class="controls">
							<input class="inputEmail input-large" type="email" autocomplete="off"
								data-bind="value: email, valueUpdate: 'afterkeydown', onEnter: addAccountCommand, hasfocus: emailFocus" />
						</div>
					</div>
					<div class="control-group" data-bind="css: {'error': loginError}, visible: allowCustomLogin()">
						<label class="i18n control-label" data-i18n-text="LOGIN/LABEL_LOGIN"></label>
						<div class="controls">
							<input class="inputLogin input-large" type="text" autocomplete="off"
								data-bind="value: login, onEnter: addAccountCommand, hasfocus: loginFocus" />
						</div>
					</div>
					<div class="control-group" data-bind="css: {'error': passwordError}">
						<label class="i18n control-label" data-i18n-text="LOGIN/LABEL_PASSWORD"></label>
						<div class="controls">
							<input class="inputPassword input-large" type="password" autocomplete="off"
								data-bind="value: password, onEnter: addAccountCommand" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn buttonAddAccount" data-bind="command: addAccountCommand">
					<i data-bind="css: {'icon-user-add': !submitRequest(), 'icon-spinner animated': submitRequest()}"></i>
					&nbsp;&nbsp;
					<span class="i18n" data-i18n-text="POPUPS_ADD_ACCOUNT/BUTTON_ADD_ACCOUNT"></span>
				</a>
			</div>
		</div>
	</div>
</div>
