<div class="popups">
	<div class="modal hide b-pgp-key g-ui-user-select-none" data-bind="modal: modalVisibility">
		<div>
			<div class="modal-header">
				<button type="button" class="close" data-bind="command: cancelCommand">&times;</button>
				<h3>
					PGP
				</h3>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<br />
					<div class="control-group">
						Passphrase
						<br />
						<input class="uiInput inputPassphrase" type="password" data-bind="value: passphrase" />
					</div>
					<div class="control-group">
						Secret key
						<br />
						<textarea class="input-xxlarge inputKey" data-bind="value: key" rows="10" spellcheck="false"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn buttonAction" data-bind="command: sendPgp">
					<i class="icon-lock"></i>
					&nbsp;&nbsp;
					Decrypt
				</a>
			</div>
		</div>
	</div>
</div>
