<div class="b-settings-identity">
	<div class="form-horizontal">
		<div class="legend g-ui-user-select-none">
			<span class="i18n" data-i18n-text="SETTINGS_IDENTITY/LEGEND_IDENTITY"></span>
		</div>
		<div class="control-group g-ui-user-select-none">
			 <label class="control-label">
				 <span class="i18n" data-i18n-text="SETTINGS_IDENTITY/LABEL_DISPLAY_NAME"></span>
			 </label>
			<div class="controls">
				<input class="input-xlarge" type="text" data-bind="value: displayName, saveTrigger: displayNameTrigger" />
				<div data-bind="saveTrigger: displayNameTrigger"></div>
			</div>
		</div>
		<div class="control-group g-ui-user-select-none" style="display: none">
			 <label class="control-label">
				 <span class="i18n" data-i18n-text="SETTINGS_IDENTITY/LABEL_REPLY_TO"></span>
			 </label>
			<div class="controls">
				<input class="input-xlarge" type="text" data-bind="value: replyTo" />
			</div>
		</div>
		<div class="control-group">
			 <label class="control-label g-ui-user-select-none">
				 <span class="i18n" data-i18n-text="SETTINGS_IDENTITY/LABEL_SIGNATURE"></span>
			 </label>
			<div class="controls">
				<div class="e-signature-place" data-bind="initDom: signatureDom"></div>
				<div style="vertical-align: top;" data-bind="saveTrigger: signatureTrigger"></div>
			</div>
		</div>
		<div class="control-group g-ui-user-select-none">
			<div class="controls">
				<label data-bind="click: function () { signatureToAll(!signatureToAll()); }">
					<i data-bind="css: signatureToAll() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					&nbsp;&nbsp;
					<span class="i18n" data-i18n-text="SETTINGS_IDENTITIES/LABEL_ADD_SIGNATURE_TO_ALL"></span>
				</label>
			</div>
		</div>
	</div>
</div>