<div class="b-settings-themes g-ui-user-select-none">
	<div class="form-horizontal">
		<div class="legend">
			<span class="i18n" data-i18n-text="SETTINGS_THEMES/LEGEND_THEMES"></span>
			<div class="themeTrigger" data-bind="saveTrigger: themeTrigger"></div>
		</div>
	</div>
	<div class="b-themes-list" data-bind="foreach: themesObjects">
		<div class="e-item" data-bind="click: function () { $root.mainTheme(name); }, css: { 'selected': selected }">
			<div class="e-name" data-bind="text: nameDisplay"></div>
			<img class="e-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-bind="attr: { 'src': themePreviewSrc }" />
		</div>
	</div>
</div>