<div class="b-settings-identities">
	<div class="form-horizontal">
		<div class="legend">
			<span class="i18n" data-bind="text: legent"></span>
		</div>
	</div>
	<a class="btn" data-bind="click: addNewIdentity">
		<i class="icon-user-add"></i>
		&nbsp;&nbsp;
		<span class="i18n" data-i18n-text="SETTINGS_IDENTITIES/BUTTON_ADD_IDENTITY"></span>
	</a>
	<div class="process-place" data-bind="style: {'visibility': visibility }">
		<i class="icon-spinner-2 animated"></i>
		&nbsp;&nbsp;
		<span data-bind="text: processText"></span>
	</div>
	<table class="table table-hover list-table" data-bind="i18nUpdate: identities">
		<colgroup>
			<col />
			<col style="width: 140px" />
			<col style="width: 1%" />
		</colgroup>
		<tbody data-bind="foreach: identities">
			<tr class="identity-item">
				<td class="e-action">
					<span class="identity-img icon-user"></span>
					<span class="identity-name" data-bind="text: formattedName()"></span>
				</td>
				<td>
					<a class="btn btn-small btn-small-small btn-danger pull-right button-delete" data-bind="css: {'delete-access': deleteAccess()}, click: function(oIdentity) { $root.deleteIdentity(oIdentity); }">
						<span class="i18n" data-i18n-text="SETTINGS_IDENTITIES/DELETING_ASK"></span>
					</a>
				</td>
				<td>
					<span class="delete-identity" data-bind="visible: !deleteAccess() && canBeDalete(), click: function (oIdentity) { $root.identityForDeletion(oIdentity); }">
						<i class="icon-trash"></i>
					</span>
				</td>
			</tr>
		</tbody>
	</table>
	<br />
	<br />
	<div class="form-horizontal">
		<div class="legend">
			<span class="i18n" data-i18n-text="SETTINGS_IDENTITIES/LEGEND_SIGNATURE"></span>
		</div>
	</div>
	<div>
		<textarea class="input-xxlarge" data-bind="value: signature, saveTrigger: signatureTrigger" rows="7" spellcheck="true"></textarea>
		<div style="vertical-align: top;" data-bind="saveTrigger: signatureTrigger"></div>
	</div>
</div>