<div class="b-settings-folders g-ui-user-select-none" data-bind="css: { 'ignore-folder-subscribe': !useImapSubscribe }">
	<div class="form-horizontal">
		<div class="legend">
			<span class="i18n" data-i18n-text="SETTINGS_FOLDERS/LEGEND_FOLDERS"></span>
		</div>
	</div>
	<a class="btn" data-bind="click: createFolder">
		<i class="icon-folder-add"></i>
		&nbsp;&nbsp;
		<span class="i18n" data-i18n-text="SETTINGS_FOLDERS/BUTTON_CREATE"></span>
	</a>
	&nbsp;&nbsp;
	<a class="btn" data-bind="click: systemFolder">
		<i class="icon-wrench"></i>
		&nbsp;&nbsp;
		<span class="i18n" data-i18n-text="SETTINGS_FOLDERS/BUTTON_SYSTEM"></span>
	</a>
	<div class="alert folders-list-error" data-bind="visible: '' !== foldersListError()">
		<button type="button" class="close" data-bind="click: function () { foldersListError(''); }">&times;</button>
		<span data-bind="text: foldersListError"></span>
	</div>
	<div class="process-place" data-bind="style: {'visibility': visibility }">
		<i class="icon-spinner animated"></i>
		&nbsp;&nbsp;
		<span data-bind="text: processText"></span>
	</div>
	<table class="table table-hover list-table" data-bind="i18nUpdate: folderList">
		<colgroup>
			<col />
			<col style="width: 1%" />
			<col style="width: 1%" />
		</colgroup>
		<tbody data-bind="template: { name: 'SettingsFolderItem', foreach: folderList }"></tbody>
	</table>
</div>