<div class="b-settings-identities">
	<div class="form-horizontal">
		<div class="legend g-ui-user-select-none">
			<span class="i18n" data-i18n-text="SETTINGS_IDENTITIES/LEGEND_IDENTITY"></span>
		</div>
		<div class="control-group g-ui-user-select-none">
			<label class="control-label">
				<span class="i18n" data-i18n-text="SETTINGS_IDENTITIES/LABEL_DISPLAY_NAME"></span>
			</label>
			<div class="controls">
				<input class="input-xlarge" type="text" data-bind="value: displayName, saveTrigger: displayNameTrigger" />
				<div data-bind="saveTrigger: displayNameTrigger"></div>
			</div>
		</div>
		<div class="control-group g-ui-user-select-none" style="display: none">
			<label class="control-label">
				<span class="i18n" data-i18n-text="SETTINGS_IDENTITIES/LABEL_REPLY_TO"></span>
			</label>
			<div class="controls">
				<input class="input-xlarge" type="text" data-bind="value: replyTo" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label g-ui-user-select-none">
				<span class="i18n" data-i18n-text="SETTINGS_IDENTITIES/LABEL_SIGNATURE"></span>
			</label>
			<div class="controls">
				<div class="e-signature-place" data-bind="initDom: signatureDom"></div>
				<div style="vertical-align: top;" data-bind="saveTrigger: signatureTrigger"></div>
			</div>
		</div>
		<div class="control-group g-ui-user-select-none">
			<div class="controls">
				<label data-bind="click: function () { signatureToAll(!signatureToAll()); }">
					<i data-bind="css: signatureToAll() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					&nbsp;&nbsp;
					<span class="i18n" data-i18n-text="SETTINGS_IDENTITIES/LABEL_ADD_SIGNATURE_TO_ALL"></span>
				</label>
			</div>
		</div>
	</div>
	<br />
	<div class="form-horizontal g-ui-user-select-none">
		<div class="legend">
			<span class="i18n" data-i18n-text="SETTINGS_IDENTITIES/LEGEND_IDENTITIES"></span>
		</div>
	</div>
	<a class="btn g-ui-user-select-none" data-bind="click: addNewIdentity">
		<i class="icon-user-add"></i>
		&nbsp;&nbsp;
		<span class="i18n" data-i18n-text="SETTINGS_IDENTITIES/BUTTON_ADD_IDENTITY"></span>
	</a>
	<div class="process-place g-ui-user-select-none" data-bind="style: {'visibility': visibility }">
		<i class="icon-spinner animated"></i>
		&nbsp;&nbsp;
		<span data-bind="text: processText"></span>
	</div>
	<table class="table table-hover list-table  g-ui-user-select-none" data-bind="i18nUpdate: identities">
		<colgroup>
			<col />
			<col style="width: 140px" />
			<col style="width: 1%" />
		</colgroup>
		<tbody data-bind="foreach: identities">
			<tr class="identity-item">
				<td class="e-action">
					<span class="identity-img icon-user"></span>
					<span class="identity-name" data-bind="text: formattedName()"></span>
				</td>
				<td>
					<a class="btn btn-small btn-small-small btn-danger pull-right button-delete" data-bind="css: {'delete-access': deleteAccess()}, click: function(oIdentity) { $root.deleteIdentity(oIdentity); }">
						<span class="i18n" data-i18n-text="SETTINGS_IDENTITIES/DELETING_ASK"></span>
					</a>
				</td>
				<td>
					<span class="delete-identity" data-bind="visible: !deleteAccess() && canBeDalete(), click: function (oIdentity) { $root.identityForDeletion(oIdentity); }">
						<i class="icon-trash"></i>
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>