<div class="b-settings-general g-ui-user-select-none">
	<div class="form-horizontal">
		<div class="legend">
			<span class="i18n" data-i18n-text="SETTINGS_GENERAL/LEGEND_GENERAL"></span>
		</div>
		<div class="control-group" data-bind="visible: allowLanguagesOnSettings">
			<label class="control-label">
				<span class="i18n" data-i18n-text="SETTINGS_GENERAL/LABEL_LANGUAGE"></span>
			</label>
			<div class="controls">
				<label class="flag-selector">
					<span class="flag-wrapper">
						<span data-bind="css: 'flag flag-' + mainLanguage()" style=""></span>
					</span>
					<span class="flag-name" data-bind="text: mainLanguageFullName, click: selectLanguage"></span>
					<div data-bind="saveTrigger: languageTrigger"></div>
				</label>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" style="padding-top: 0;">
			   <span class="i18n" data-i18n-text="SETTINGS_GENERAL/LABEL_EDITOR"></span>
			</label>
			<div class="controls">
				<label for="richTextEditorTypeID1">
					<input id="richTextEditorTypeID1" type="radio" name="richTextEditorType" value="Html" data-bind="checked: editorDefaultType" style="position: absolute; left: -10000px" />
					<i data-bind="css: 'Html' === editorDefaultType() ? ' icon-radio-checked' : 'icon-radio-unchecked'"></i>
					&nbsp;&nbsp;
					<span class="i18n" data-i18n-text="SETTINGS_GENERAL/LABEL_EDITOR_HTML_AS_DEFAULT"></span>
				</label>
				<label for="richTextEditorTypeID2">
					<input id="richTextEditorTypeID2" type="radio" name="richTextEditorType" value="Plain" data-bind="checked: editorDefaultType" style="position: absolute; left: -10000px" />
					<i data-bind="css: 'Plain' === editorDefaultType() ? ' icon-radio-checked' : 'icon-radio-unchecked'"></i>
					&nbsp;&nbsp;
					<span class="i18n" data-i18n-text="SETTINGS_GENERAL/LABEL_EDITOR_PLAIN_AS_DEFAULT"></span>
				</label>
			</div>
		</div>
	</div>
	<div class="form-horizontal">
		<div class="legend">
			<span class="i18n" data-i18n-text="SETTINGS_GENERAL/LABEL_VIEW_OPTIONS"></span>
		</div>
		<div class="control-group">
			<div class="controls">
				<select class="span2" data-bind="options: mainMessagesPerPageArray, value: mainMessagesPerPage, saveTrigger: mppTrigger" style="width: 70px;"></select>
				<span class="i18n help-inline" data-i18n-text="SETTINGS_GENERAL/LABEL_MESSAGE_PER_PAGE"></span>
				<div data-bind="saveTrigger: mppTrigger"></div>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<label data-bind="click: function () { showImages(!showImages()); }">
					<i data-bind="css: showImages() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					&nbsp;&nbsp;
					<span class="i18n" data-i18n-text="SETTINGS_GENERAL/LABEL_SHOW_IMAGES"></span>
				</label>
				<label data-bind="click: function () { useCheckboxesInList(!useCheckboxesInList()); }">
					<i data-bind="css: useCheckboxesInList() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					&nbsp;&nbsp;
					<span class="i18n" data-i18n-text="SETTINGS_GENERAL/LABEL_USE_CHECKBOXES_IN_LIST"></span>
				</label>
				<label data-bind="click: toggleLayout">
					<i data-bind="css: usePreviewPane() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					&nbsp;&nbsp;
					<span class="i18n" data-i18n-text="SETTINGS_GENERAL/LABEL_USE_PREVIEW_PANE"></span>
				</label>
				<label data-bind="visible: threading, click: function () { useThreads(!useThreads()); }">
					<i data-bind="css: useThreads() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					&nbsp;&nbsp;
					<span class="i18n" data-i18n-text="SETTINGS_GENERAL/LABEL_USE_THREADS"></span>
				</label>
				<label data-bind="click: function () { replySameFolder(!replySameFolder()); }">
					<i data-bind="css: replySameFolder() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					&nbsp;&nbsp;
					<span class="i18n" data-i18n-text="SETTINGS_GENERAL/LABEL_REPLY_SAME_FOLDER"></span>
				</label>
			</div>
		</div>
	</div>
	<div class="form-horizontal" data-bind="visible: isDesktopNotificationsSupported()">
		<div class="legend">
			<span class="i18n" data-i18n-text="SETTINGS_GENERAL/LABEL_CHROME_NOTIFICATION"></span>
		</div>
		<div class="control-group">
			<div class="controls">
				<div data-bind="visible: isDesktopNotificationsSupported">
					<label data-bind="css: { 'denied-by-browser': isDesktopNotificationsDenied }, click: function () { if (!isDesktopNotificationsDenied()) { useDesktopNotifications(!useDesktopNotifications()); }}">
						<i data-bind="css: useDesktopNotifications() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
						&nbsp;&nbsp;
						<span class="i18n notification-desc" data-i18n-text="SETTINGS_GENERAL/LABEL_CHROME_NOTIFICATION_DESC"></span>
						<span class="i18n notification-desc-denied" data-i18n-text="SETTINGS_GENERAL/LABEL_CHROME_NOTIFICATION_DESC_DENIED"></span>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>