<div class="b-settings-contacts">
	<div class="form-horizontal g-ui-user-select-none">
		<div class="legend">
			<span class="i18n" data-i18n-text="SETTINGS_CONTACTS/LEGEND_CONTACTS"></span>
		</div>
		<div class="control-group">
			<div class="controls">
				<label data-bind="click: function () { contactsAutosave(!contactsAutosave()); }">
					<i data-bind="css: contactsAutosave() ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"></i>
					&nbsp;&nbsp;
					<span class="i18n" data-i18n-text="SETTINGS_CONTACTS/LABEL_CONTACTS_AUTOSAVE"></span>
				</label>
			</div>
		</div>
	</div>
	<div class="form-horizontal" data-bind="visible: allowContactsSync">
		<div class="legend">
			<span class="i18n" data-i18n-text="SETTINGS_CONTACTS/LEGEND_MOBILE_SYNC"></span>
		</div>
		<div class="control-group">
			<label class="control-label" style="padding-top: 0;">
				<span class="i18n" data-i18n-text="SETTINGS_CONTACTS/LABEL_SYNC_SERVER"></span>
			</label>
			<div class="controls">
				<strong data-bind="text: contactsSyncServer"></strong>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" style="padding-top: 0;">
			   <span class="i18n" data-i18n-text="SETTINGS_CONTACTS/LABEL_SYNC_USERNAME"></span>
			</label>
			<div class="controls">
				<strong data-bind="text: contactsSyncUser"></strong>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" style="padding-top: 0;">
			   <span class="i18n" data-i18n-text="SETTINGS_CONTACTS/LABEL_SYNC_PASSWORD"></span>
			</label>
			<div class="controls">
				<strong style="color:red" data-bind="text: contactsSyncPass, visible: showPassword"></strong>
				<span class="g-ui-link i18n" data-bind="visible: !showPassword(), click: toggleShowPassword"
					data-i18n-text="SETTINGS_CONTACTS/LINK_SHOW"></span>
				&nbsp;&nbsp;
				<span class="g-ui-link i18n" data-bind="visible: showPassword, click: toggleShowPassword"
					data-i18n-text="SETTINGS_CONTACTS/LINK_HIDE"></span>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<div class="alert alert-info span7" style="margin-left: 0">
					<p>
						<span class="i18n" data-i18n-text="SETTINGS_CONTACTS/DESC_FULL_PAB_URL"></span>
					</p>
					<p>
						<span class="i18n" data-i18n-text="SETTINGS_CONTACTS/LABEL_DESC_PAB"></span>:
						<br />
						<a href="javascript:void(0);" target="_blank" data-bind="text: contactsSyncPabUrl, attr: {'href': contactsSyncPabUrl}"></a>
					</p>
				</div>
				<br />
			</div>
		</div>
	</div>
</div>