<div class="b-system-drop-down g-ui-user-select-none">
	<div class="b-toolbar">
		<div class="btn-toolbar">
<!--			<div class="btn-group pull-right">
				<a class="btn btn-narrow" data-bind="click: logoutClick">
					<i class="icon-power"></i>
				</a>
			</div>
			<div class="btn-group pull-right">
				&nbsp;&nbsp;&nbsp;
			</div>-->
			<div class="btn-group pull-right dropdown" data-bind="registrateBootstrapDropdown: true, openDropdownTrigger: accountMenuDropdownTrigger">
				<a id="top-system-dropdown-id" href="#" tabindex="-1" class="btn btn-ellipsis btn-block dropdown-toggle system-dropdown"
					data-toggle="dropdown" data-tooltip-placement="left"
					data-tooltip-class="tooltip-big" data-bind="tooltip2: emailTitle">

					<i data-bind="css: {'icon-user': !loading(), 'icon-spinner animated': loading()}"></i>
					&nbsp;&nbsp;
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu g-ui-menu" tabindex="-1" role="menu" aria-labelledby="top-system-dropdown-id">
					<!-- ko if: accounts().length -->
					<!-- ko foreach: accounts -->
						<li class="e-item" role="presentation">
							<a class="e-link menuitem" href="#" data-bind="click: $root.accountClick, attr: {'href': changeAccountLink() }">
								<i class="icon-ok" data-bind="visible: $root.accountEmail() === email"></i>
								<i class="icon-user" data-bind="visible: $root.accountEmail() !== email"></i>
								&nbsp;&nbsp;
								<span data-bind="text: email"></span>
							</a>
						</li>
					<!-- /ko -->
					<li class="divider" role="presentation"></li>
					<!-- /ko -->
					<!-- ko if: allowAddAccount -->
					<li class="e-item" role="presentation">
						<a class="e-link menuitem" href="#" tabindex="-1" data-bind="click: addAccountClick">
							<i class="icon-user-add"></i>
							&nbsp;&nbsp;
							<span class="i18n" data-i18n-text="TOP_TOOLBAR/BUTTON_ADD_ACCOUNT"></span>
						</a>
					</li>
					<!-- /ko -->
					<li class="e-item" role="presentation">
						<a class="e-link menuitem" href="#" tabindex="-1" data-bind="click: settingsClick">
							<i class="icon-cog"></i>
							&nbsp;&nbsp;
							<span class="i18n" data-i18n-text="TOP_TOOLBAR/BUTTON_SETTINGS"></span>
						</a>
					</li>

					<li class="divider" role="presentation"></li>
					<li class="e-item" role="presentation">
						<a class="e-link menuitem" href="#" tabindex="-1" data-bind="click: logoutClick">
							<i class="icon-power"></i>
							&nbsp;&nbsp;
							<span class="i18n" data-i18n-text="TOP_TOOLBAR/BUTTON_LOGOUT"></span>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>