<!DOCTYPE html>
<html class="no-js rl-booted-trigger rl-started-trigger" dir="{{BaseDir}}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta id="rl-head-viewport" name="viewport" content="{{BaseViewport}}">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<noscript>
			<meta http-equiv="refresh" content="0; URL=./?/NoScript" />
		</noscript>
		<!--[if lte IE 8]>
			<meta http-equiv="refresh" content="0; URL=./?/BadBrowser" />
		<![endif]-->
		<script type="text/javascript" data-cfasync="false">
			if (!window.navigator || !window.navigator.cookieEnabled) {
				window.document.location.replace('./?/NoCookie');
			}
		</script>
		<meta name="Author" content="RainLoop Team" />
		<meta name="robots" content="noindex,nofollow,noodp" />
		<meta name="google" content="notranslate" />
		<title></title>
		<style>#rl-content{display:none;}#rl-check{display:none;}</style>
		{{BaseAppFaviconPngLinkTag}}{{BaseAppFaviconTouchLinkTag}}
		<link type="text/css" rel="stylesheet" href="{{BaseAppMainCssLink}}" />
		<link type="text/css" rel="stylesheet" id="rlThemeLink" />
		<script type="text/javascript" data-cfasync="false" src="{{BaseAppBootScriptLink}}"></script>
		<script type="text/javascript" data-cfasync="false">
			window.__includeAppScr('{{BaseAppDataScriptLink}}');
		</script>
		<script type="text/javascript" data-cfasync="false">
			if (window.rainloopAppData && window.rainloopAppData['NewThemeLink']) {
				window.document.getElementById('rlThemeLink').href = window.rainloopAppData['NewThemeLink'];
			}
		</script>
		<script type="text/javascript" data-cfasync="false">
			if (window.rainloopAppData && window.rainloopAppData['IncludeCss']) {
				window.__includeStyle(window.rainloopAppData['IncludeCss']);
			}
		</script>
		<script type="text/javascript" data-cfasync="false"></script>
	</head>
	<body>
		<div id="rl-check"></div>
		<div id="rl-bg" class="thm-body"></div>
		<div id="rl-loading" class="thm-loading">
			<div id="rl-loading-desc">Loading</div>
			<div class="e-spinner">
				<div class="e-bounce bounce1"></div>
				<div class="e-bounce bounce2"></div>
				<div class="e-bounce bounce3"></div>
			</div>
		</div>
		<div id="rl-loading-error" class="thm-loading">
			An Error occurred,
			<br />
			please refresh the page and try again.
			<div id="rl-loading-error-additional"></div>
		</div>
		<div id="rl-content">
			<div id="rl-popups"></div>
			<div id="rl-center">
				<div id="rl-top"></div>
				<div id="rl-left"></div>
				<div id="rl-right"></div>
				<div id="rl-bottom"></div>
			</div>
		</div>
		<div id="rl-templates"></div>
		<div id="rl-hidden"></div>
		<script type="text/javascript" data-cfasync="false">__showDescription(window.rainloopAppData ? window.rainloopAppData['LoadingDescriptionEsc'] : '');</script>
		<script type="text/javascript" data-cfasync="false">__runApp('{{BaseAppLibsScriptLink}}', '{{BaseAppMainScriptLink}}', '{{BaseAppEditorScriptLink}}');</script>
	</body>
</html>
