<!DOCTYPE html>
<html class="no-js rl-booted-trigger rl-started-trigger">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta id="rl-head-viewport" name="viewport" content="width=950,maximum-scale=2">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<noscript>
			<meta http-equiv="refresh" content="0; URL=./?/NoScript" />
		</noscript>
		<!--[if lte IE 8]>
			<meta http-equiv="refresh" content="0; URL=./?/BadBrowser" />
		<![endif]-->
		<script data-cfasync="false">
			if (!window.navigator || !window.navigator.cookieEnabled) {
				window.document.location.replace('./?/NoCookie');
			}
		</script>
		<meta name="Author" content="RainLoop Team" />
		<meta name="robots" content="noindex, nofollow, noodp" />
		<meta name="google" content="notranslate" />
		<title></title>
		<style>#rl-content{display:none;}</style>
		<link rel="shortcut icon" href="{{BaseAppFaviconPngFile}}" type="image/png" />
		<link rel="apple-touch-icon" href="{{BaseAppAppleTouchFile}}" type="image/png" />
		<link type="text/css" rel="stylesheet" href="{{BaseAppMainCssLink}}" />
		<link type="text/css" rel="stylesheet" id="rlThemeLink" />
		<script data-cfasync="false" src="{{BaseAppBootScriptLink}}"></script>
		<script data-cfasync="false">
			__includeScr('{{BaseAppDataScriptLink}}' + (window.__rlah ? window.__rlah() || '0' : '0') + '/' +  window.Math.random().toString().substr(2) + '/');
		</script>
		<script data-cfasync="false">
			if (window.rainloopAppData && window.rainloopAppData['NewThemeLink']) {
				window.document.getElementById('rlThemeLink').href = window.rainloopAppData['NewThemeLink'];
			}
		</script>
		<script data-cfasync="false"></script>
	</head>
	<body>
		<div id="rl-bg" class="thm-body"></div>
		<div id="rl-loading" class="thm-loading">
			<div id="rl-loading-desc">Loading</div>
			<div class="e-spinner">
				<div class="e-bounce bounce1"></div>
				<div class="e-bounce bounce2"></div>
				<div class="e-bounce bounce3"></div>
			</div>
		</div>
		<script data-cfasync="false">
			(function (window) {
				var
					oE = window.document.getElementById('rl-loading'),
					oElDesc = window.document.getElementById('rl-loading-desc')
				;
				if (oElDesc && window.rainloopAppData['LoadingDescriptionEsc']) {
					oElDesc.innerHTML = window.rainloopAppData['LoadingDescriptionEsc'];
				}
				if (oE && oE.style) {
					oE.style.opacity = 0;
					window.setTimeout(function () {
						oE.style.opacity = 1;
					}, 300);
				}
			}(window));
		</script>
		<div id="rl-loading-error" class="thm-loading">
			An Error occurred,
			<br />
			please refresh the page and try again.
			<div id="rl-loading-error-additional"></div>
		</div>
		<div id="rl-content">
			<div id="rl-popups"></div>
			<div id="rl-center">
				<div id="rl-top"></div>
				<div id="rl-left"></div>
				<div id="rl-right"></div>
				<div id="rl-bottom"></div>
			</div>
		</div>
		<div id="rl-templates"></div>
		<div id="rl-hidden"></div>
		<script data-cfasync="false">

			if (window.$LAB && window.rainloopAppData && window.rainloopAppData['TemplatesLink'] && window.rainloopAppData['LangLink'])
			{
				__simplePace(10);

				window.$LAB
					.script(function () {
						return [
							{'src': '{{BaseAppLibsScriptLink}}', 'type': 'text/javascript', 'charset': 'utf-8'},
							{'src': window.rainloopAppData['TemplatesLink'], 'type': 'text/javascript', 'charset': 'utf-8'},
							{'src': window.rainloopAppData['LangLink'], 'type': 'text/javascript', 'charset': 'utf-8'}
						];
					})
					.wait(function () {
						__simplePace(30);
					})
					.script(function () {
						return {'src': '{{BaseAppMainScriptLink}}', 'type': 'text/javascript', 'charset': 'utf-8'};
					})
					.wait(function () {
						__simplePace(20);
					})
					.script(function () {
						return window.rainloopAppData['PluginsLink'] ?
							{'src': window.rainloopAppData['PluginsLink'], 'type': 'text/javascript', 'charset': 'utf-8'} : null;
					})
					.wait(function () {
						__simplePace(5);
						__runBoot(false);
					})
					.script(function () {
						return {'src': '{{BaseAppEditorScriptLink}}', 'type': 'text/javascript', 'charset': 'utf-8'};
					})
					.wait(function () {
						if (window.CKEDITOR && window.__initEditor) {
							window.__initEditor();
							window.__initEditor = null;
						}
					})
				;
			}
			else
			{
				__runBoot(true);
			}

		</script>
	</body>
</html>
