<div class="e-item" data-bind="visible: visible">
	<a class="e-link" data-bind="droppable: function (oEvent, oUi) { $root.messagesDrop($data, oUi); },
	   droppableOver: function (oEvent, oUi) { $root.messagesDropOver($data, oUi); },
	   droppableOut: function (oEvent, oUi) { $root.messagesDropOut($data, oUi); },
	   css: { 'selected': selected() && !isSystemFolder(), 'selectable': selectableForFolderList, 'hidden' : hidden, 'print-count': 0 < printableUnreadCount().length, 'system': isSystemFolder, 'anim-action-class': actionBlink }">
		<i data-bind="css: collapsedCss()"></i>
		<span class="name" data-bind="text: name"></span><!-- &nbsp;<span class="badge pull-right count" data-bind="text: printableUnreadCount"></span> -->
	</a>
	<div class="b-sub-folders" data-bind="template: { name: 'MailFolderListItem', foreach: subFolders }, css: { 'unpaddig-folder' : isUnpaddigFolder, 'collapsed': collapsed() }"></div>
</div>