<div class="b-settings b-settins-right">
	<div class="b-toolbar">
		<div class="btn-toolbar">
			<a class="btn button-back" data-bind="click: backToMailBoxClick">
				<i class="icon-left"></i>
				&nbsp;&nbsp;
				<span class="i18n" data-i18n-text="SETTINGS_LABELS/BUTTON_BACK"></span>
			</a>
		</div>
	</div>
	<div class="b-content" data-bind="nano: true">
		<div class="content g-scrollbox">
			<div class="content-wrapper">
				<div id="rl-settings-subscreen" class="b-settings-content"></div>
			</div>
		</div>
	</div>
</div>