<div class="b-settings-filters g-ui-user-select-none">
	<div class="form-horizontal">
		<div class="legend">
			<span class="i18n" data-i18n-text="SETTINGS_FILTERS/LEGEND_FILTERS"></span>
		</div>
	</div>
	<div class="row">
		<div data-bind="foreach: filters, i18nUpdate: filters">
			<span  data-bind="text: name" ></span>
			<br />
		</div>
	</div>
	<br />
	<a class="btn" data-bind="click: addFilter">
		<i class="icon-filter"></i>
		&nbsp;&nbsp;
		<span class="i18n" data-i18n-text="SETTINGS_FILTERS/BUTTON_ADD_FILTER"></span>
	</a>
</div>