:root {
	--fontSans: Verdana, Geneva, "Bitstream Vera Sans", "DejaVu LGC Sans", Arial, sans-serif;
	--fontSerif: "Nimbus Roman No9 L", "Times New Roman", Times, FreeSerif, serif;
	--fontMono: "Liberation Mono", Monaco, Menlo, Consolas, "Courier New", FreeMono, Courier, monospace;
}

html, body {
	font-family: var(--fontSans);
	margin: 0;
	padding: 0;
}

body {
	background: var(--main-bg-color, #aaa);
	color: var(--main-color, #333);
}

#rl-loading, #rl-loading-error {
	color: var(--loading-color, #000);
	text-shadow: var(--loading-text-shadow);
	font-size: 30px;
	line-height: 130%;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

#rl-loading .icon-spinner {
	height: 1em;
	width: 1em;
}
