:root {
	--fontSans: Verdana, Geneva, "Bitstream Vera Sans", "DejaVu LGC Sans", Arial, sans-serif;
	--fontSerif: "Nimbus Roman No9 L", "Times New Roman", Times, FreeSerif, serif;
	--fontMono: "Liberation Mono", Monaco, Menlo, Consolas, "Courier New", FreeMono, Courier, monospace;
}

#rl-app.fontArial {
	--fontSans: "Nimbus Sans L", "Liberation sans", "Arial Unicode MS", Arial, Helvetica, Garuda, Utkal, FreeSans, sans-serif;
}
#rl-app.fontTahoma {
	--fontSans: "Luxi Sans", Tahoma, Loma, Geneva, Meera, sans-serif;
}
#rl-app.fontTrebuchet {
	--fontSans: "DejaVu Sans Condensed", Trebuchet, "Trebuchet MS", sans-serif;
}
#rl-app.fontLucida {
	--fontSans: "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "DejaVu LGC Sans", sans-serif;
}
#rl-app.fontVerdana {
	--fontSans: "DejaVu Sans", Verdana, Geneva, "Bitstream Vera Sans", "DejaVu LGC Sans", sans-serif;
}
#rl-app.fontMonoCourier {
	--fontMono: "Liberation Mono", "Courier New", FreeMono, Courier, monospace;
}
#rl-app.fontMonoLucida {
	--fontMono: "DejaVu Sans Mono", "DejaVu LGC Sans Mono", "Bitstream Vera Sans Mono", "Lucida Console", Monaco, monospace;
}
#rl-app.fontSerifTimes {
	--fontSerif: "Nimbus Roman No9 L", "Times New Roman", Times, FreeSerif, serif;
}
#rl-app.fontSerifPalatino {
	--fontSerif: "Bitstream Charter", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Times, serif;
}
#rl-app.fontSerifGeorgia {
	--fontSerif: "URW Palladio L", Georgia, Times, serif;
}

html, body {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%; /* 2 */
}

#rl-app *, #rl-app *::before, #rl-app *::after {
	box-sizing: border-box;
}

#rl-app {
	background-color: var(--main-bg-color, #aaa);
	color: var(--main-color, #333);
	font-family: var(--fontSans);

	-webkit-touch-callout: none;
	font-size: var(--main-font-size, 14px);
	line-height: 1.25; /* 1 */
	position: relative;
}
body#rl-app {
	height: 100vh;
	width: 100vw;
}

#rl-loading, #rl-loading-error {
	color: var(--loading-color, #000);
	text-shadow: var(--loading-text-shadow);
	font-size: 30px;
	line-height: 130%;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

#rl-loading .icon-spinner {
	height: 1em;
	width: 1em;
}
