#progressjs {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2000;
}

.progressjs-inner {
	background-color: #939595;
	height: 3px;
	overflow: hidden;
	position: relative;
	transition: width .5s;
	width: 0;
	z-index: 2000;
}

.progressjs-percent {
	position: absolute;
	top: 0;
	left: 0;
	right: -32px;
	bottom: 0;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
	background-size: 32px 32px;
	animation: simple-pace-stripe-animation 500ms linear infinite;
}

@keyframes simple-pace-stripe-animation {
	0% { transform: none; }
	100% { transform: translate(-32px, 0); }
}
