
#rl-left {
	overflow: auto;
	padding-top: 50px + @rlLowMargin + 10px;

	nav {
		a {
			color: var(--settings-menu-color, #333);
			cursor: pointer;
			display: block;
			font-size: 18px;
			line-height: 30px;
			padding: 4px 10px;
			text-decoration: none;
		}

		a:focus, a:hover {
			background-color: var(--settings-menu-hover-bg-color, #333);
			color: var(--settings-menu-hover-color, #eee);
		}

		a.selected {
			background-color: var(--settings-menu-selected-bg-color, #333);
			color: var(--settings-menu-selected-color, #eee);
		}
	}
}

.b-admin-right {

	.b-toolbar {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 34px;
		padding: 8px @rlLowMargin 8px 0;
		color: #fff;
		text-shadow: 0 1px 1px #000;

		display: flex;

		h4 {
			flex-grow: 1;
		}
	}

	.b-content {
		position: absolute;
		top: 50px + @rlLowMargin;
		bottom: @rlLowMargin;
		left: 0;
		right: @rlLowMargin;
		overflow-y: auto;
		z-index: 2;

		background-color: #fff;
		border: 1px solid @rlMainDarkColor;

		box-shadow: @rlMainShadow;
		border-radius: @rlMainBorderRadius;
	}

}

.btn.btn-logout {
	padding-left: 12px;
	padding-right: 12px;
}
