
#rl-bg {
	z-index: -1;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#rl-content {
	height: 100%;
	width: 100%;
}

#rl-center {
	.g-ui-absolute-reset;
	min-width: 600px;
	min-height: 400px;
}

#rl-top {
	.g-ui-absolute-reset;
	bottom: auto;
	z-index: 2;
}

#rl-bottom {
	.g-ui-absolute-reset;

	top: auto;
	z-index: 1;
}

#rl-left {
	.g-ui-absolute-reset;

	width: @rlLeftWidth;
	min-width: 120px;
}

#rl-right {
	.g-ui-absolute-reset;

	z-index: 1;
	left: @rlLeftWidth;
}

#rl-sub-left {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 500px;
}

#rl-sub-right {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 500px;
}

html.ssm-state-desktop-large {

	#rl-left {
		width: @rlLeftWidth + 20;
	}

	#rl-right {
		left: @rlLeftWidth + 20;
	}

	#rl-sub-left {
		width: 500px;
	}

	#rl-sub-right {
		left: 500px;
	}

	.b-compose.modal {
		width: 1000px;
	}

	.b-contacts-content.modal {
		width: 1000px;
	}
}

html.ssm-state-desktop {

	#rl-left {
		width: @rlLeftWidth;
	}

	#rl-right {
		left: @rlLeftWidth;
	}

	#rl-sub-left {
		width: 400px;
	}

	#rl-sub-right {
		left: 400px;
	}
}

html.ssm-state-tablet, html.ssm-state-mobile {

	#rl-left {
		width: 160px;
	}

	#rl-right {
		left: 160px;
	}

	#rl-sub-left {
		width: 350px;

		.messageList .inputSearch {
			width: 220px;
		}
	}

	#rl-sub-right {
		left: 350px;
	}

	.b-compose.modal {
		width: 800px;
	}

	.b-contacts-content.modal {
		width: 800px;
	}
}

html.rl-left-panel-disabled {
	
	#rl-left {
		width: 5px !important;
		display: none;
	}

	#rl-right {
		left: 5px !important;
	}
}

.ui-resizable-helper {
	border-right: 5px solid #777;
	border-right-color: rgba(255,255,255,0.7);
}

html.rl-no-preview-pane {

	#rl-sub-left {
		right: @rlBottomMargin !important;
		width: inherit;

		.messageList .inputSearch {
			width: 300px !important;
		}
	}

	#rl-sub-right {
		left: 0 !important;
	}

	#rl-right .ui-resizable-handle {
		display: none !important;
	}
}

#rl-loading, #rl-loading-error {
	position: absolute;
	font: 30px Tahoma;
	top: 50%;
	width: 100%;
	height: 65px;
	margin: 0;
	margin-top: -60px;
	background-color: transparent;
	text-align: center;
	color: #000;
}

#rl-loading-error {
	background-image: none;
	display: none;
}
