
.b-settings-filters {

	html.rl-mobile &{
		margin-right: 15px;
	}

	.process-place {
		text-align: center;
		width: 600px;
		padding: 14px 0;
	}

	.list-table {

		width: 600px;

		td {
			padding: 4px 8px;
			line-height: 30px;

			&.drag-wrapper {
				padding: 4px 0;
			}
		}

		.filter-img {
			font-size: 12px;
			margin-right: 5px;
		}

		.filter-name, .filter-sub-name {
			display: inline-block;
			word-break: break-all;
			box-sizing: border-box;
			line-height: 22px;
			cursor: pointer;
		}

		.filter-sub-name {
			color: #aaa;
		}
	}

	.filters-list-top-padding {
		display: inline-block;
		height: 5px;
		width: 5px;
	}

	.filter-item {

		white-space: nowrap;

		.e-action {
			cursor: pointer;
		}

		.delete-filter {
			cursor: pointer;
			opacity: 0.5;
		}
	}
}
