
.b-system-drop-down {

	.b-toolbar {
		position: absolute;
		top: 0;
		right: 0;
		height: 30px;
		padding: 10px @rlLowMargin;
		z-index: 103;
	}

	.e-facebook-name {
		display: inline-block;
		padding-top: 4px;
	}

	.btn.system-dropdown {
		padding-left: 10px;
		padding-right: 10px;
	}

	.button-fb-logout {
		margin: 5px;
	}

	.email-title {
		display: inline-block;
		max-width: 200px;
		text-align: left;
		text-overflow: ellipsis;
		overflow: hidden;
		margin-right: 28px;
		vertical-align: middle;
	}

	.accountPlace {
		background-color: #000;
		background-color: rgba(0, 0, 0, 0.5);

		color: #fff;
		text-shadow: 0 1px 0 #000;

		display: inline-block;
		height: 29px;
		max-width: 250px;
		border-radius: 4px;
		font-size: 16px;
		line-height: 30px;
		padding: 1px 8px;
		overflow: hidden;
		text-overflow: ellipsis;
		border-radius: 4px;
		font-weight: bold;
		margin-right: 5px;

		white-space: nowrap;
	}

	.account-item {

		.icon-ok {
			display: none;
		}

		&.current {
			.icon-ok {
				display: inline-block;
			}
			.icon-user {
				display: none;
			}
		}
	}

	.counter {
		display: inline-block;
	}

	.g-ui-menu .e-link.account-item {
		padding-right: 5px;
	}
}

html.ssm-state-mobile .accountPlace {
	max-width: 150px !important;
}