/*
.g-ui-user-select-none {
	webkit-touch-callout: none;
	user-select: none;
	standard-user-select: none;
	touch-callout: none;
}
*/

.g-ui-link {
	color: #369;
	text-decoration: underline;
	cursor: pointer;
	padding: 2px;

	&:focus {
		outline: 1px;
		outline-style: dotted;
	}
}

.g-ui-menu {
	max-height: 400px;
	max-width: 300px;
	overflow-y: auto;
	overflow-x: hidden;

	.e-link {
		text-decoration: none;
		cursor: pointer;
		color: var(--dropdown-menu-color, #333);
		background-color: var(--dropdown-menu-bg-color, #fff);
	}

	.e-item.selected > .e-link {
		background-color: var(--dropdown-menu-selected-bg-color, #eee);
	}

	.e-item:not(.disabled) > .e-link:focus,
	.e-item:not(.disabled) > .e-link:hover {
		background-color: var(--dropdown-menu-hover-bg-color, #444);
		background-image: none;
		color: var(--dropdown-menu-hover-color, #eee);
	}

	.e-item.disabled > .e-link {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.g-ui-table {

	display: table;
	width: 100%;

	.e-row {
		display: table-row;
	}

	.e-cell {
		display: table-cell;
		vertical-align: top;
		text-align: left;
	}
}

.e-paginator {

	.e-page {

		display: inline-block;
		opacity: 0.5;
		text-decoration: none;
		font-size: 22px;
		padding: 3px;
		cursor: pointer;

		&:hover {
			opacity: 0.8;
		}

		&.current {
			opacity: 1;
		}

		&.current .e-page-number {
			font-size: 115%;
			text-decoration: underline;
		}
	}
}

.settings-save-trigger {

	display: inline-block;
	height: 1em;
	line-height: 1em;

	&::after {
		font-family: "snappymail";
		content: " ";
		display: block;
		margin-left: 1em;
		opacity: 0;
		transition: opacity 1s linear;
	}
	&.saving::after {
		animation: rotation .8s infinite ease-in-out;
		border: 3px solid transparent;
		border-radius: 100%;
		border-top-color: #999;
		height: 11px;
		opacity: 1;
		width: 11px;
	}
	&.success::after {
		color: #080;
		content: "✔";
		opacity: 1;
	}
	&.error::after {
		color: #F00;
		content: "✖";
		opacity: 1;
	}
}

textarea + .settings-save-trigger {
	vertical-align: top;
}

.settings-saved-trigger-input {
	transition: border-color 0.5s linear;

	&.success {
		border-color: green;
	}

	&.error {
		border-color: red;
	}
}

.e-languages {

	margin-top: 8px;
	color: #333;

	.flag-name {

		color: #333;
		border-bottom: 1px dashed #333;
		cursor: pointer;
		padding: 2px 0;

		&:focus {
			outline: 1px;
			outline-style: dotted;
		}
	}
}

.e-action {
	cursor: pointer;
}

.list-table {
	max-width: 800px;
}
