<div id="rl-sub-left">
	<div class="messageList g-ui-user-select-none"
		data-bind="css: {'message-selected': isMessageSelected, 'message-focused': !messageListFocused(), 'loading': messageListCompleteLoadingThrottle, 'hideMessageListCheckbox': !useCheckboxesInList() }">
		<div class="toolbar">
			<div class="btn-toolbar">
				<!-- ko if:  allowFolders && mobile -->
				<div class="btn-group" data-bind="visible: leftPanelDisabled()">
					<a class="btn btn-thin-2" data-bind="click: showLeft">
						<i class="icon-right-middle"></i>
					</a>
				</div>
				<div class="btn-group" data-bind="visible: !leftPanelDisabled()">
					<a class="btn btn-thin-2" data-bind="click: hideLeft">
						<i class="icon-left-middle"></i>
					</a>
				</div>
				<!-- /ko -->
				<div class="btn-group" data-bind="visible: mobile && allowComposer && mobileCheckedStateHide()">
					<a class="btn buttonCompose" data-bind="click: composeClick, tooltip: 'FOLDER_LIST/BUTTON_NEW_MESSAGE', css: {'btn-warning': composeInEdit, 'btn-success': !composeInEdit()}">
						<i class="icon-paper-plane"></i>
					</a>
				</div>
				<div class="btn-group" data-bind="visible: allowReload && mobileCheckedStateHide()">
					<a class="btn buttonReload" data-bind="command: reloadCommand, tooltip: 'MESSAGE_LIST/BUTTON_RELOAD'">
						<i class="icon-spinner" data-bind="css: {'not-animated': !messageListCompleteLoadingThrottleForAnimation()}"></i>
					</a>
				</div>
				<!-- ko if: !newMoveToFolder -->
				<div class="btn-group dropdown colored-toggle hide-on-mobile" data-bind="visible: allowMessageListActions, registerBootstrapDropdown: true, openDropdownTrigger: moveDropdownTrigger">
					<a id="move-dropdown-id" href="#" tabindex="-1" class="btn dropdown-toggle buttonMove" data-toggle="dropdown" data-bind="command: moveCommand, tooltip: 'GLOBAL/MOVE_TO'">
						<i class="icon-copy visible-on-ctrl-btn"></i>
						<i class="icon-folder hidden-on-ctrl-btn"></i>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu g-ui-menu" role="menu" aria-labelledby="move-dropdown-id" role="menu" data-bind="foreach: folderMenuForMove">
						<li class="e-item" role="presentation" data-bind="css: { 'disabled': disabled, 'dividerbar': dividerbar }, click: function (mdata, oEvent) { if (!disabled) $root.moveSelectedMessagesToFolder(id, oEvent && !!oEvent.ctrlKey); }">
							<a class="e-link menuitem" href="#" tabindex="-1" data-bind="text: name"></a>
						</li>
					</ul>
				</div>
				<!-- /ko -->
				<!-- ko if: newMoveToFolder -->
				<div class="btn-group" data-bind="visible: allowMessageListActions && mobileCheckedStateShow()">
					<a id="move-dropdown-id" href="#" tabindex="-1" class="btn buttonMove" data-bind="command: moveNewCommand, tooltip: 'GLOBAL/MOVE_TO'">
						<i class="icon-copy visible-on-ctrl-btn"></i>
						<i class="icon-folder hidden-on-ctrl-btn"></i>
					</a>
				</div>
				<!-- /ko -->
				<div class="btn-group" data-bind="visible: allowMessageListActions && mobileCheckedStateShow()">
					<a class="btn button-archive"
						data-bind="visible: isArchiveVisible, command: archiveCommand, tooltip: 'GLOBAL/TO_ARCHIVE'">
						<i class="icon-archive"></i>
					</a>
					<a class="btn button-spam"
						data-bind="visible: isSpamVisible, command: spamCommand, tooltip: 'GLOBAL/SPAM'">
						<i class="fontastic">⚠</i>
					</a>
					<a class="btn button-not-spam"
						data-bind="visible: isUnSpamVisible, command: notSpamCommand, tooltip: 'GLOBAL/NOT_SPAM'">
						<i class="icon-check-mark-circle-two"></i>
					</a>
					<a class="btn button-delete"
						data-bind="command: deleteCommand, tooltip: 'GLOBAL/DELETE'">
						<i class="fontastic">🗑</i>
						<!--<span data-bind="text: printableMessageCountForDeletion()"></span>-->
					</a>
				</div>
				<div class="btn-group dropdown colored-toggle" data-bind="visible: allowComposer || allowMessageListActions || allowDangerousActions, registerBootstrapDropdown: true, openDropdownTrigger: moreDropdownTrigger">
					<a id="more-list-dropdown-id" class="btn dropdown-toggle buttonMore" href="#" tabindex="-1" data-toggle="dropdown" data-bind="tooltip: 'GLOBAL/MORE'">
						<i class="icon-list"></i>
					</a>
					<ul class="dropdown-menu g-ui-menu" role="menu" aria-labelledby="more-list-dropdown-id">
						<div data-bind="visible: allowMessageListActions">
							<li class="e-item" role="presentation" data-bind="click: listUnsetSeen, css: {'disabled': !hasCheckedOrSelectedLines()}">
								<a class="e-link menuitem" href="#" tabindex="-1">
									<i class="icon-none"></i>
									<span class="i18n" data-i18n="MESSAGE_LIST/MENU_UNSET_SEEN"></span>
								</a>
							</li>
							<li class="e-item" role="presentation" data-bind="click: listSetSeen, css: {'disabled': !hasCheckedOrSelectedLines()}">
								<a class="e-link menuitem" href="#" tabindex="-1">
									<i class="icon-none"></i>
									<span class="i18n" data-i18n="MESSAGE_LIST/MENU_SET_SEEN"></span>
								</a>
							</li>
							<li class="e-item" role="presentation" data-bind="click: listSetFlags, css: {'disabled': !hasCheckedOrSelectedLines()}">
								<a class="e-link menuitem" href="#" tabindex="-1">
									<i class="icon-none"></i>
									<span class="i18n" data-i18n="MESSAGE_LIST/MENU_SET_FLAG"></span>
								</a>
							</li>
							<li class="e-item" role="presentation" data-bind="click: listUnsetFlags, css: {'disabled': !hasCheckedOrSelectedLines()}">
								<a class="e-link menuitem" href="#" tabindex="-1">
									<i class="icon-none"></i>
									<span class="i18n" data-i18n="MESSAGE_LIST/MENU_UNSET_FLAG"></span>
								</a>
							</li>
							<li class="e-item" role="presentation" data-bind="click: listSetAllSeen, css: {'disabled': !hasMessages()}">
								<a class="e-link menuitem" href="#" tabindex="-1">
									<i class="icon-none"></i>
									<span class="i18n" data-i18n="MESSAGE_LIST/MENU_SET_ALL_SEEN"></span>
								</a>
							</li>
						</div>
						<li class="e-item dividerbar" role="presentation" data-bind="visible: allowComposer, command: multyForwardCommand">
							<a class="e-link menuitem" href="#" tabindex="-1">
								<i class="fontastic">↞</i>
								<span class="i18n" data-i18n="MESSAGE_LIST/BUTTON_MULTY_FORWARD"></span>
							</a>
						</li>
						<li class="e-item dividerbar" role="presentation" data-bind="visible: allowDangerousActions, command: deleteWithoutMoveCommand">
							<a class="e-link menuitem" href="#" tabindex="-1">
								<i class="fontastic">🗑</i>
								<span class="i18n" data-i18n="MESSAGE_LIST/BUTTON_DELETE_WITHOUT_MOVE"></span>
							</a>
						</li>
						<li class="e-item" role="presentation" data-bind="visible: allowDangerousActions, command: clearCommand">
							<a class="e-link menuitem" href="#" tabindex="-1">
								<i class="fontastic">🔥</i>
								<span class="i18n" data-i18n="MESSAGE_LIST/BUTTON_EMPTY_FOLDER"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="b-message-list-wrapper">
			<div class="second-toolbar thm-message-list-top-toolbar">
				<div class="form-inline">
					<div class="input-append pull-right" data-bind="visible: allowSearch">
						<div class="close-input-wrp">
							<a class="close" data-bind="click: cancelSearch, visible: '' !== messageListSearchDesc()">×</a>
							<input type="text" class="i18n span4 inputSearch" tabindex="-1" placeholder="Search" autocorrect="off" autocapitalize="off" data-i18n="[placeholder]GLOBAL/SEARCH" data-bind="value: inputProxyMessageListSearch, onEnter: searchEnterAction, hasfocus: inputMessageListSearchFocus" />
						</div>
						<a class="btn buttonMoreSearch" data-bind="visible: allowSearchAdv, click: advancedSearchClick">
							<span class="caret"></span>
						</a>
					</div>
					<i class="checkboxCkeckAll" data-bind="css: checkAll() ? (isIncompleteChecked() ? 'icon-checkbox-partial' : 'icon-checkbox-checked') : 'icon-checkbox-unchecked'"></i>
				</div>
			</div>
			<div class="line-loading e-strip-animation" data-bind="visible: messageListCompleteLoadingThrottle"></div>
			<div class="mainDelimiter toolbarDelimiter"></div>
			<div class="b-content" data-bind="initDom: dragOverBodyArea">
				<div class="content">
					<div class="content-wrapper">
						<div class="listThreadUidDesc" data-bind="visible: '' !== messageListEndThreadUid(), click: cancelThreadUid">
							<i class="icon-left" data-bind="click: cancelThreadUid"></i>
							<span class="i18n" data-i18n="MESSAGE_LIST/BACK_TO_MESSAGE_LIST"></span>
						</div>
						<div class="listSearchDesc" data-bind="visible: '' !== messageListSearchDesc()">
							<span data-bind="text: messageListSearchDesc"></span>
						</div>
						<div class="listDragOver" data-bind="css: {'viewAppendArea': dragOver() && '' === messageListError() && !popupVisibility(), 'dragOverEnter': dragOverEnter }, initDom: dragOverArea">
							<i class="icon-down e-icon"></i>
							<span class="i18n" data-i18n="MESSAGE_LIST/PUT_MESSAGE_HERE"></span>
						</div>
						<div class="listClear" data-bind="visible: clearListIsVisible()">
							<span class="g-ui-link i18n" data-i18n="MESSAGE_LIST/BUTTON_EMPTY_FOLDER" data-bind="command: clearCommand"></span>
						</div>
						<div class="listError" data-bind="visible: !dragOver() && '' !== messageListError()">
							<span class="error" data-bind="text: messageListError"></span>
						</div>
						<div class="listEmptyList" data-bind="visible: !dragOver() && 0 === messageList().length && !messageListCompleteLoadingThrottle() && '' === messageListError() && '' === messageListSearch()">
							<span class="i18n" data-i18n="MESSAGE_LIST/EMPTY_LIST"></span>
						</div>
						<div class="listEmptyListLoading" data-bind="visible: !dragOver() && 0 === messageList().length &&
							messageListCompleteLoadingThrottle() && '' === messageListError()">
							<span class="i18n" data-i18n="GLOBAL/LOADING"></span><span class="textLoadingAnimationD1">.</span><span class="textLoadingAnimationD2">.</span><span class="textLoadingAnimationD3">.</span>
						</div>
						<div class="listEmptySearchList" data-bind="visible: !dragOver() && 0 === messageList().length && !messageListCompleteLoadingThrottle() && '' === messageListError() && '' !== messageListSearch()">
							<span class="i18n" data-i18n="MESSAGE_LIST/EMPTY_SEARCH_LIST"></span>
						</div>
						<div data-bind="dragmessages: getDragData">
							<div class="messageListPlace" data-bind="template: { name: messageListItemTemplate(), foreach: messageList }"></div>
						</div>
						<div id="messagesDragImage"><span class="text"></span>&nbsp;<i class="icon-mail icon-white"></i></div>
					</div>
				</div>
			</div>
			<div class="mainDelimiter footerDelimiter"></div>
			<div class="b-footer thm-message-list-bottom-toolbar">
				<span data-tooltip-i18n="off" data-bind="visible: 0 < userUsageProc(), tooltip: quotaTooltip" class="e-quota">
					<span data-bind="text: userUsageProc"></span>%
				</span>
				<div class="pull-right">
					<!-- ko template: { name: 'Paginator', data: messageListPaginator } --><!-- /ko -->
				</div>
			</div>
		</div>
	</div>
</div>
