<li>
	<a data-bind="dropmessages: $data,
	   css: { 'selected': selected() && !isSystemFolder(), 'system': isSystemFolder, 'selectable': canBeSelected, 'unread-sub': hasSubscribedUnreadMessagesSubfolders, 'anim-action-class': actionBlink },
	   attr: { 'data-unread': unreadCount }">
		<i data-bind="css: collapsedCss()"></i>
		<!-- ko text: name --><!-- /ko -->
	</a>
	<!-- ko if: hasVisibleSubfolders -->
	<ul data-bind="template: { name: 'MailFolderListItem', foreach: visibleSubfolders }, css: { 'collapsed': collapsed() }"></ul>
	<!-- /ko -->
</li>
