<div class="e-item b-folder-system-item">
	<a data-bind="dropmessages: $data, css: { 'selected': selected, 'selectable': selectable, 'print-count': 0 < printableUnreadCount().length, 'anim-action-class': actionBlink, 'is-inbox': isInbox }">
		<span class="badge pull-right count" data-bind="text: printableUnreadCount"></span>
		&nbsp;
		<span class="name" data-bind="text: localName()"></span>
		<span class="inbox-star-icon">
			<i class="fontastic flagged">★</i>
			<i class="fontastic unflagged">☆</i>
		</span>
	</a>
</div>
