<div class="modal fade b-open-pgp-key-add-content g-ui-user-select-none" data-bind="modal: modalVisibility">
	<div class="modal-header">
		<button type="button" class="close" data-bind="command: cancelCommand">×</button>
		<h3 data-i18n="POPUPS_IMPORT_OPEN_PGP_KEY/TITLE_IMPORT_OPEN_PGP_KEY"></h3>
	</div>
	<div class="modal-body">
		<div class="alert"  data-bind="visible: keyError() && keyErrorMessage(), text: keyErrorMessage"></div>
		<div class="form-horizontal">
			<div class="control-group" data-bind="css: {'error': keyError}">
				<textarea class="inputKey input-xxlarge" rows="14" autofocus="" autocomplete="off" data-bind="value: key"></textarea>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a class="btn buttonAddAccount" data-bind="command: addOpenPgpKeyCommand">
			<i class="icon-list-add"></i>
			&nbsp;&nbsp;
			<span data-i18n="POPUPS_IMPORT_OPEN_PGP_KEY/BUTTON_IMPORT_OPEN_PGP_KEY"></span>
		</a>
	</div>
</div>
