<div class="legend">OpenPGP</div>
<button class="btn" data-bind="click: addOpenPgpKey">
	<i class="icon-list-add"></i>
	<span data-i18n="SETTINGS_OPEN_PGP/BUTTON_ADD_OPEN_PGP_KEY"></span>
</button>
<!-- ko if: canOpenPGP -->
&nbsp;&nbsp;
<div style="display: inline-block" data-i18n="[title]SETTINGS_OPEN_PGP/GENERATE_ONLY_HTTPS">
	<button class="btn" data-bind="click: generateOpenPgpKey">
		<i class="fontastic">🔑</i>
		<span data-i18n="SETTINGS_OPEN_PGP/BUTTON_GENERATE_OPEN_PGP_KEYS"></span>
	</button>
</div>
<!-- /ko -->

<br />
<br />
<div class="control-group">
	<div data-bind="component: {
		name: 'Checkbox',
		params: {
			label: 'SETTINGS_OPEN_PGP/LABEL_ALLOW_DRAFT_AUTOSAVE',
			value: allowDraftAutosave
		}
	}"></div>
</div>
<br />

<h1>GnuPG</h1>
<table class="table table-hover list-table">
	<tbody data-bind="foreach: gnupgkeys, i18nUpdate: gnupgkeys">
		<tr class="open-pgp-key-item">
			<td>
				<span data-bind="visible: can_sign" class="fontastic" data-i18n="[title]SETTINGS_OPEN_PGP/TITLE_PRIVATE">✍/🔓</span>
			<td>
			<td>
				<span data-bind="visible: can_encrypt" class="fontastic" data-i18n="[title]SETTINGS_OPEN_PGP/TITLE_PUBLIC">🔒</span>
			</td>
			<td>
				<!-- ko text: email --><!-- /ko -->
			</td>
		</tr>
	</tbody>
</table>

<h1>OpenPGP.js</h1>
<table class="table table-hover list-table">
	<tbody data-bind="foreach: openpgpkeysPrivate, i18nUpdate: openpgpkeysPrivate">
		<tr class="open-pgp-key-item">
			<td>
				<span class="open-pgp-key-img fontastic" data-i18n="[title]SETTINGS_OPEN_PGP/TITLE_PRIVATE">🔒</span>
				<span class="open-pgp-key-user" data-bind="foreach: users">
					<span class="open-pgp-key-user-address" data-bind="text: $data" style="display:inline-block"></span>
				</span>
			</td>
			<td>
				<a class="btn btn-small btn-small-small btn-danger button-confirm-delete" data-bind="css: {'delete-access': deleteAccess()}, click: function(openPgpKey) { $root.deleteOpenPgpKey(openPgpKey); }"
					data-i18n="GLOBAL/ARE_YOU_SURE"></a>
			</td>
			<td>
				<span class="delete-open-pgp-key fontastic" data-bind="visible: !deleteAccess(), click: function (openPgpKey) { $root.openPgpKeyForDeletion(openPgpKey); }">🗑</span>
			</td>
			<td class="view-open-pgp-key fontastic" data-bind="click: function (openPgpKey) { $root.viewOpenPgpKey(openPgpKey); }">👁</td>
		</tr>
	</tbody><tbody data-bind="foreach: openpgpkeysPublic, i18nUpdate: openpgpkeysPublic">
		<tr class="open-pgp-key-item">
			<td>
				<span class="open-pgp-key-img fontastic" data-i18n="[title]SETTINGS_OPEN_PGP/TITLE_PUBLIC">🔑</span>
				<span class="open-pgp-key-user" data-bind="foreach: users">
					<div class="open-pgp-key-user-address">
						<span data-bind="text: $data"></span> (<span class="open-pgp-key-id" data-bind="text: $parent.id"></span>)
					</div>
				</span>
			</td>
			<td>
				<a class="btn btn-small btn-small-small btn-danger button-confirm-delete" data-bind="css: {'delete-access': deleteAccess()}, click: function(oOpenPGP) { $root.deleteOpenPgpKey(oOpenPGP); }"
					data-i18n="GLOBAL/ARE_YOU_SURE"></a>
			</td>
			<td>
				<span class="delete-open-pgp-key fontastic" data-bind="visible: !deleteAccess(), click: function (openPgpKey) { $root.openPgpKeyForDeletion(openPgpKey); }">🗑</span>
			</td>
			<td class="view-open-pgp-key fontastic" data-bind="click: function (openPgpKey) { $root.viewOpenPgpKey(openPgpKey); }">👁</td>
		</tr>
	</tbody>
</table>
