<div class="legend">OpenPGP</div>
<button class="btn" data-bind="click: addOpenPgpKey" data-icon="✚" data-i18n="SETTINGS_OPEN_PGP/BUTTON_ADD_OPEN_PGP_KEY"></button>
<!-- ko if: canOpenPGP || canGnuPG -->
&nbsp;&nbsp;
<button class="btn" data-bind="click: generateOpenPgpKey" data-icon="🔑" data-i18n="SETTINGS_OPEN_PGP/BUTTON_GENERATE_OPEN_PGP_KEYS"></button>
<!-- /ko -->

<br />
<br />
<div class="control-group">
	<div data-bind="component: {
		name: 'Checkbox',
		params: {
			label: 'SETTINGS_OPEN_PGP/LABEL_ALLOW_DRAFT_AUTOSAVE',
			value: allowDraftAutosave
		}
	}"></div>
</div>
<br />

<!-- ko if: canGnuPG -->
<div class="legend">GnuPG</div>
<table class="table table-hover list-table">
	<tbody><tr><th colspan="4" data-i18n="SETTINGS_OPEN_PGP/TITLE_PRIVATE">Private keys</th></tr></tbody>
	<tbody data-bind="foreach: gnupgPrivateKeys, i18nUpdate: gnupgPrivateKeys">
		<tr>
			<td>
				<span data-bind="visible: can_sign" class="fontastic">✍</span>
				<span data-bind="visible: can_decrypt" class="fontastic">🔓</span>
				<span class="key-id" data-bind="text: id"></span>
				<!-- ko foreach: emails -->
				<span class="key-user" data-bind="text: $data"></span>
				<!-- /ko -->
			</td>
			<td>
				<a class="btn btn-small btn-small-small btn-danger button-confirm-delete" data-bind="css: {'delete-access': askDelete()}, click: remove"
					data-i18n="GLOBAL/ARE_YOU_SURE"></a>
			</td>
			<td>
				<span class="delete-key fontastic" data-bind="visible: !askDelete(), click: openForDeletion">🗑</span>
			</td>
		</tr>
	</tbody>
	<tbody><tr><th colspan="4" data-i18n="SETTINGS_OPEN_PGP/TITLE_PUBLIC">Public keys</th></tr></tbody>
	<tbody data-bind="foreach: gnupgPublicKeys, i18nUpdate: gnupgPublicKeys">
		<tr>
			<td>
				<span data-bind="visible: can_verify" class="fontastic">✔</span>
				<span data-bind="visible: can_encrypt" class="fontastic">🔒</span>
				<span class="key-id" data-bind="text: id"></span>
				<!-- ko foreach: emails -->
				<span class="key-user" data-bind="text: $data"></span>
				<!-- /ko -->
			</td>
			<td>
				<a class="btn btn-small btn-small-small btn-danger button-confirm-delete" data-bind="css: {'delete-access': askDelete()}, click: remove"
					data-i18n="GLOBAL/ARE_YOU_SURE"></a>
			</td>
			<td>
				<span class="delete-key fontastic" data-bind="visible: !askDelete(), click: openForDeletion">🗑</span>
			</td>
		</tr>
	</tbody>
</table>
<!-- /ko -->

<!-- ko if: canOpenPGP -->
<div class="legend">OpenPGP.js</div>
<table class="table table-hover list-table">
	<tbody><tr><th colspan="4" data-i18n="SETTINGS_OPEN_PGP/TITLE_PRIVATE">Private keys</th></tr></tbody>
	<tbody data-bind="foreach: openpgpkeysPrivate, i18nUpdate: openpgpkeysPrivate">
		<tr>
			<td data-bind="click: view">
				<span class="fontastic" data-i18n="[title]SETTINGS_OPEN_PGP/TITLE_PRIVATE">🔒</span>
				<span class="key-id" data-bind="text: id"></span>
				<!-- ko foreach: emails -->
				<span class="key-user" data-bind="text: $data"></span>
				<!-- /ko -->
			</td>
			<td>
				<a class="btn btn-small btn-small-small btn-danger button-confirm-delete" data-bind="css: {'delete-access': askDelete()}, click: remove"
					data-i18n="GLOBAL/ARE_YOU_SURE"></a>
			</td>
			<td>
				<span class="delete-key fontastic" data-bind="visible: !askDelete(), click: openForDeletion">🗑</span>
			</td>
		</tr>
	</tbody>
	<tbody><tr><th colspan="4" data-i18n="SETTINGS_OPEN_PGP/TITLE_PUBLIC">Public keys</th></tr></tbody>
	<tbody data-bind="foreach: openpgpkeysPublic, i18nUpdate: openpgpkeysPublic">
		<tr>
			<td data-bind="click: view">
				<span class="fontastic" data-i18n="[title]SETTINGS_OPEN_PGP/TITLE_PUBLIC">🔑</span>
				<span class="key-id" data-bind="text: id"></span>
				<!-- ko foreach: emails -->
				<span class="key-user" data-bind="text: $data"></span>
				<!-- /ko -->
			</td>
			<td>
				<a class="btn btn-small btn-small-small btn-danger button-confirm-delete" data-bind="css: {'delete-access': askDelete()}, click: remove"
					data-i18n="GLOBAL/ARE_YOU_SURE"></a>
			</td>
			<td>
				<span class="delete-key fontastic" data-bind="visible: !askDelete(), click: openForDeletion">🗑</span>
			</td>
		</tr>
	</tbody>
</table>
<!-- /ko -->

<!-- ko if: canMailvelope -->
<div class="legend">Mailvelope</div>
<div id="mailvelope-settings" style="height:40em"></div>
<!-- /ko -->
