<div class="b-settings-open-pgp g-ui-user-select-none">
	<div class="legend">OpenPGP</div>
	<button class="btn" data-bind="click: addOpenPgpKey">
		<i class="icon-list-add"></i>
		<span data-i18n="SETTINGS_OPEN_PGP/BUTTON_ADD_OPEN_PGP_KEY"></span>
	</button>
	&nbsp;&nbsp;
	<div style="display: inline-block" data-i18n="[title]SETTINGS_OPEN_PGP/GENERATE_ONLY_HTTPS">
		<button class="btn" data-bind="click: generateOpenPgpKey">
			<i class="fontastic">🔑</i>
			<span data-i18n="SETTINGS_OPEN_PGP/BUTTON_GENERATE_OPEN_PGP_KEYS"></span>
		</button>
	</div>
	<br />
	<br />
	<div class="control-group">
		<div class="controls">
			<div data-bind="component: {
				name: 'Checkbox',
				params: {
					label: 'SETTINGS_OPEN_PGP/LABEL_ALLOW_DRAFT_AUTOSAVE',
					value: allowDraftAutosave
				}
			}"></div>
		</div>
	</div>
	<br />
	<table class="table table-hover list-table" data-bind="i18nUpdate: openpgpkeys">
		<colgroup>
			<col />
			<col style="width: 1%" />
			<col style="width: 1%" />
		</colgroup>
		<tbody data-bind="foreach: openpgpkeysPrivate">
			<tr class="open-pgp-key-item">
				<td>
					<span class="open-pgp-key-img fontastic" data-i18n="[title]SETTINGS_OPEN_PGP/TITLE_PRIVATE">🔒</span>
					<span class="open-pgp-key-user" data-bind="foreach: users">
						<div class="open-pgp-key-user-address" data-bind="text: $data"></div>
					</span>
					<a class="btn btn-small btn-small-small btn-danger pull-right button-confirm-delete button-delete-transitions" data-bind="css: {'delete-access': deleteAccess()}, click: function(openPgpKey) { $root.deleteOpenPgpKey(openPgpKey); }"
						data-i18n="GLOBAL/ARE_YOU_SURE"></a>
				</td>
				<td>
					<span class="delete-open-pgp-key fontastic" data-bind="visible: !deleteAccess(), click: function (openPgpKey) { $root.openPgpKeyForDeletion(openPgpKey); }">🗑</span>
				</td>
				<td class="view-open-pgp-key fontastic" data-bind="click: function (openPgpKey) { $root.viewOpenPgpKey(openPgpKey); }">👁</td>
			</tr>
		</tbody><tbody data-bind="foreach: openpgpkeysPublic">
			<tr class="open-pgp-key-item">
				<td>
					<span class="open-pgp-key-img fontastic" data-i18n="[title]SETTINGS_OPEN_PGP/TITLE_PUBLIC">🔑</span>
					<span class="open-pgp-key-user" data-bind="foreach: users">
						<div class="open-pgp-key-user-address">
							<span data-bind="text: $data"></span> (<span class="open-pgp-key-id" data-bind="text: $parent.id"></span>)
						</div>
					</span>
					<a class="btn btn-small btn-small-small btn-danger pull-right button-confirm-delete button-delete-transitions" data-bind="css: {'delete-access': deleteAccess()}, click: function(oOpenPGP) { $root.deleteOpenPgpKey(oOpenPGP); }"
						data-i18n="GLOBAL/ARE_YOU_SURE"></a>
				</td>
				<td>
					<span class="delete-open-pgp-key fontastic" data-bind="visible: !deleteAccess(), click: function (openPgpKey) { $root.openPgpKeyForDeletion(openPgpKey); }">🗑</span>
				</td>
				<td class="view-open-pgp-key fontastic" data-bind="click: function (openPgpKey) { $root.viewOpenPgpKey(openPgpKey); }">👁</td>
			</tr>
		</tbody>
	</table>
</div>
