<div class="b-settings-filters g-ui-user-select-none">
	<div class="form-horizontal">
		<div class="legend">
			<span data-i18n="SETTINGS_FILTERS/LEGEND_FILTERS"></span>
			&nbsp;&nbsp;&nbsp;
			<i class="icon-spinner" style="margin-top: 5px" data-bind="visible: loading"></i>
		</div>
	</div>
	<div class="row" data-bind="visible: serverError">
		<div class="span8 width100-on-mobile">
			<div class="alert alert-error g-ui-user-select-none" style="margin-bottom: 0">
				<i class="fontastic">⚠</i>
				<span data-bind="text: serverErrorDesc"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span8 width100-on-mobile">
			<table class="table table-hover list-table g-ui-user-select-none"
				data-bind="i18nUpdate: scripts">
				<colgroup>
					<col style="width: 30px" />
					<col />
					<col style="width: 140px" />
					<col style="width: 1%" />
				</colgroup>
				<tbody data-bind="foreach: scripts">
					<tr class="script-item">
						<td>
							<span class="disabled-script fontastic" data-bind="click: function (oScript) { $root.toggleScript(oScript); }, text: active() ? '☑' : '☐'"></span>
						</td>
						<td class="e-action" class="script-name" data-bind="text: name()"></td>
						<td>
							<a class="btn btn-small btn-small-small btn-danger pull-right button-confirm-delete button-delete-transitions" data-bind="css: {'delete-access': deleteAccess()}, click: function(oScript) { $root.deleteScript(oScript); }"
								data-i18n="GLOBAL/ARE_YOU_SURE"></a>
						</td>
						<td>
							<span class="delete-script fontastic" data-bind="visible: !deleteAccess() && canBeDeleted(), click: function (oScript) { $root.scriptForDeletion(oScript); }">🗑</span>
						</td>
					</tr>
				</tbody>
			</table>
			<a class="btn" data-bind="click: $root.addScript">
				<i class="fontastic">✚</i>
				<span data-i18n="SETTINGS_FILTERS/BUTTON_ADD_SCRIPT"></span>
			</a>
		</div>
	</div>
</div>
