<div class="control-group" data-bind="css: {'error': actionValueError}">
	<div class="controls">
		<input type="text" class="span3" data-bind="value: actionValue"
			data-i18n="[placeholder]GLOBAL/EMAIL" />
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<div data-bind="component: {
			name: 'Checkbox',
			params: {
				label: 'POPUPS_FILTER/KEEP_LABEL',
				value: actionKeep
			}
		}"></div>
		<div data-bind="visible: $root.allowMarkAsRead, component: {
			name: 'Checkbox',
			params: {
				label: 'POPUPS_FILTER/MARK_AS_READ_LABEL',
				value: actionMarkAsRead
			}
		}"></div>
		<div data-bind="component: {
			name: 'Checkbox',
			params: {
				label: 'POPUPS_FILTER/STOP_LABEL',
				value: actionNoStop
			}
		}"></div>
	</div>
</div>
