<div class="b-system-drop-down g-ui-user-select-none">
	<div class="b-toolbar">
		<div class="btn-toolbar">
			<div class="audioPlace"
					data-bind="visible: '' !== currentAudio(), attr: { title: currentAudio }, click: stopPlay">
				<div class="playIcon equaliser" data-bind="css: {'animated': '' !== currentAudio()}">
					<div class="bar first"></div>
					<div class="bar second"></div>
					<div class="bar third"></div>
				</div>
				<i class="stopIcon fontastic">⏸</i>
			</div>
			<div class="accountPlace hide-mobile" data-bind="text: emailTitle()"></div>
			<div class="btn-group dropdown colored-toggle" data-bind="registerBootstrapDropdown: true, openDropdownTrigger: accountMenuDropdownTrigger">
				<a id="top-system-dropdown-id" href="#" tabindex="-1" class="btn single btn-block dropdown-toggle" data-toggle="dropdown">
					<i class="fontastic" data-bind="css: {'icon-spinner': accountsLoading()}">👤</i>
<!--
					<b data-bind="text: accountsUnreadCount, visible: 100 > accountsUnreadCount() && 0 < accountsUnreadCount()"></b>
					<b data-bind="visible: 99 < accountsUnreadCount()">99+</b>
					&nbsp;
-->
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu right-edge g-ui-menu" tabindex="-1" role="menu" aria-labelledby="top-system-dropdown-id">

					<!-- ko if: accounts().length -->
						<!-- ko foreach: accounts -->
							<li class="e-item" role="presentation">
								<a class="e-link menuitem account-item" href="#" data-bind="click: $root.accountClick,
									attr: {'href': changeAccountLink()}, css: {'current': $root.accountEmail() === email}">
<!--									<b class="pull-right counter" data-bind="visible: 0 < count()">
										<span data-bind="text: count, visible: 100 > count()"></span>
										<span data-bind="visible: 99 < count()">99+</span>
									</b>-->
									<i class="fontastic">✔</i>
									<i class="fontastic">👤</i>
									<span class="email-title" data-bind="text: email, attr: {title: email}"></span>
								</a>
							</li>
						<!-- /ko -->
					<!-- /ko -->

					<li class="e-item dividerbar" role="presentation" data-bind="visible: allowAccounts">
						<a class="e-link menuitem" href="#" tabindex="-1" data-bind="click: addAccountClick">
							<i class="fontastic">✚</i>
							<span data-i18n="TOP_TOOLBAR/BUTTON_ADD_ACCOUNT"></span>
						</a>
					</li>
					<li class="e-item" role="presentation" data-bind="visible: allowSettings">
						<a class="e-link menuitem" href="#" tabindex="-1" data-bind="visible: allowContacts, click: contactsClick">
							<i class="fontastic">📇</i>
							<span data-i18n="GLOBAL/CONTACTS"></span>
						</a>
					</li>
					<li class="e-item" role="presentation" data-bind="visible: allowSettings">
						<a class="e-link menuitem" href="#" tabindex="-1" data-bind="click: settingsClick">
							<i class="fontastic">⚙</i>
							<span data-i18n="TOP_TOOLBAR/BUTTON_SETTINGS"></span>
						</a>
					</li>
					<li class="e-item" role="presentation" data-bind="visible: allowHelp">
						<a class="e-link menuitem" href="#" tabindex="-1" data-bind="click: settingsHelp">
							<i class="icon-help"></i>
							<span data-i18n="TOP_TOOLBAR/BUTTON_HELP"></span>
						</a>
					</li>
					<li class="e-item dividerbar" role="presentation">
						<a class="e-link menuitem show-mobile" href="#" tabindex="-1" data-bind="click: layoutDesktop">
							<i class="fontastic">💻</i>
							<span data-i18n="MOBILE/BUTTON_DESKTOP_VERSION"></span>
						</a>
						<a class="e-link menuitem hide-mobile" href="#" tabindex="-1" data-bind="click: layoutMobile">
							<i class="fontastic">📱</i>
							<span data-i18n="MOBILE/BUTTON_MOBILE_VERSION"></span>
						</a>
					</li>
					<li class="e-item" role="presentation">
						<a class="e-link menuitem" href="#" tabindex="-1" data-bind="click: logoutClick">
							<i class="fontastic">⏻</i>
							<span data-i18n="GLOBAL/LOGOUT"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
