<div class="btn-toolbar g-ui-user-select-none">
	<div class="audioPlace"
			data-bind="visible: '' !== currentAudio(), attr: { title: currentAudio }, click: stopPlay">
		<div class="playIcon"><div></div></div>
		<i class="stopIcon fontastic">⏸</i>
	</div>
	<div class="accountPlace hide-mobile" data-bind="text: accountName(), title: accountEmail"></div>
	<div class="btn-group dropdown" data-bind="registerBootstrapDropdown: true, openDropdownTrigger: accountMenuDropdownTrigger">
		<a id="top-system-dropdown-id" href="#" tabindex="-1" class="btn single btn-block dropdown-toggle">
			<i style="vertical-align:middle" class="fontastic" data-bind="css: {'icon-spinner': accountsLoading()}">👤</i>
<!--
			<b data-bind="text: accountsUnreadCount, visible: 100 > accountsUnreadCount() && accountsUnreadCount()"></b>
			<b data-bind="visible: 99 < accountsUnreadCount()">99+</b>
			&nbsp;
-->
		</a>
		<menu class="dropdown-menu right-edge" tabindex="-1" role="menu" aria-labelledby="top-system-dropdown-id">

			<!-- ko foreach: accounts -->
			<li role="presentation" data-bind="css:{'show-mobile':1==$root.accounts.length}">
				<a class="email-title" href="#" data-bind="click: $root.accountClick, text: name || email,
					attr: {title: email, 'data-unread': unreadEmails, 'data-icon': $root.accountEmail() === email ? '✔' : '👤'}"></a>
			</li>
			<!-- /ko -->

			<li class="dividerbar" role="presentation" data-bind="visible: allowAccounts">
				<a href="#" tabindex="-1" data-bind="click: addAccountClick" data-icon="✚" data-i18n="TOP_TOOLBAR/BUTTON_ADD_ACCOUNT"></a>
			</li>
			<li role="presentation" data-bind="visible: allowContacts">
				<a href="#" tabindex="-1" data-bind="click: contactsClick" data-icon="📇" data-i18n="GLOBAL/CONTACTS"></a>
			</li>
			<li role="presentation">
				<a href="#" tabindex="-1" data-bind="click: settingsClick" data-icon="⚙" data-i18n="TOP_TOOLBAR/BUTTON_SETTINGS"></a>
			</li>
			<li role="presentation">
				<a href="#" tabindex="-1" data-bind="click: settingsHelp" data-icon="🛈" data-i18n="TOP_TOOLBAR/BUTTON_HELP"></a>
			</li>
			<li class="dividerbar" role="presentation">
				<a href="#" tabindex="-1" data-bind="click: toggleLayout" data-icon="💻" class="show-mobile" data-i18n="MOBILE/BUTTON_DESKTOP_VERSION"></a>
				<a href="#" tabindex="-1" data-bind="click: toggleLayout" data-icon="📱" class="hide-mobile" data-i18n="MOBILE/BUTTON_MOBILE_VERSION"></a>
			</li>
			<li role="presentation">
				<a href="#" tabindex="-1" data-bind="click: logoutClick" data-icon="⏻" data-i18n="GLOBAL/LOGOUT"></a>
			</li>
		</menu>
	</div>
</div>
