/**
 * Nextcloud - SnappyMail mail plugin
 *
 * @author Rene Hampölz (@hampoelz), SnappyMail, Nextcloud Team
 */

/*
 * app layout changes, background & color
 */

:root {
    --link-color: var(--color-primary-light-text);
}

#rl-app {
    color: var(--color-main-text);
    background-color: transparent;
    font-family: var(--font-face);
    font-size: var(--default-font-size);
}

#rl-left {
    background-color: var(--color-main-background-blur, var(--color-main-background));
    -webkit-backdrop-filter: var(--filter-background-blur, none);
    backdrop-filter: var(--filter-background-blur, none);
}

#rl-right {
    background-color: var(--color-main-background);
}

input {
    box-shadow: none;
}

.resizer {
    opacity: 1;
    background-color: unset;
    border-right: solid 1px var(--color-border);
}

.messageList,
.messageView {
    margin: 0 5px;
    border: none;
    box-shadow: none !important;
    background: var(--color-main-background);
}

.b-folders .b-toolbar {
    height: unset;
    display: flex;
    flex-direction: row;
    padding: 8px;
}

html.rl-left-panel-disabled .b-folders .b-toolbar {
    flex-direction: column;
}

@media screen and (min-width: 1000px) {
    .b-folders .btn.buttonContacts {
        transition: none;
    }
}

#V-SettingsMenu nav.b-content,
.b-folders .b-content {
    padding: 8px;
}

.b-folders .b-content {
    top: 60px;
    bottom: 162px;
}

.b-folders .b-content.show-on-panel-disabled {
    bottom: 56px;
}

/*
 * icon colors
 */

.iconcolor-green {
    color: var(--color-success) !important;
}

.iconcolor-red {
    color: var(--color-error) !important;
}

/*
 * side panel
 */

#V-SettingsMenu nav a,
.b-folders li a.selectable {
    margin: 2px;
    padding: 0 2em 0 15px;
    height: 38px;
    line-height: 38px;
    border-radius: var(--border-radius-pill);
    color: unset;
    border: none;
}

#V-SettingsMenu nav a {
    height: 44px;
    line-height: 44px;
}

#V-SettingsMenu nav a.selected,
.b-folders li a.selectable.selected {
    color: unset;
    background-color: var(--color-primary-light);
}

#V-SettingsMenu nav a:not(.selected):hover,
#V-SettingsMenu nav a:not(.selected):focus,
.b-folders li a.selectable:not(.selected):hover,
.b-folders li a.selectable:not(.selected):focus {
    color: unset;
    background-color: var(--color-background-hover);
}

.b-folders .b-folders-system a[data-unread]::after {
    display: block;
    margin: 0 ; 
    top: 50%;
    transform: translateY(-50%);

    color: var(--color-primary-element);
    background-color: var(--color-primary-light);

    text-shadow: none;
}

.b-folders hr {
    border-top: solid var(--color-main-text);
    border-radius: var(--border-radius-pill);
    opacity: .1;
}

.b-folders input {
    width: calc(100% - 10px) !important;
    margin: 5px;
    opacity: .7;
}

.b-footer.btn-toolbar.hide-mobile,
.b-footer.btn-toolbar .btn-group.hide-on-panel-disabled {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    height: unset;
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    bottom: 0;
}

.b-footer.btn-toolbar .btn-group {
    padding: 3px !important;
}

/*
 * buttons
 */

.btn {
    min-height: 36px;
    height: 36px;
    box-sizing: border-box !important;
    padding: 8px 14px;
    line-height: 20px;
    color: var(--color-main-text);
    background-color: var(--color-background-dark);
    border: 1px solid var(--color-border-dark);
    border-radius: var(--border-radius-pill);
    font-size: var(--default-font-size);
}

.btn.btn-thin {
    padding-right: 9px;
    padding-left: 9px;
}

.btn.disabled, .btn[disabled],
.btn.disabled:hover, .btn[disabled]:hover,
.btn.disabled:focus, .btn[disabled]:focus,
.btn.disabled:active, .btn[disabled]:active {
    outline: none;
    opacity: .5;
    filter: saturate(0.7);
}

.btn:not(.disabled, [disabled]):hover,
.btn:not(.disabled, [disabled]):focus {
    border-color: var(--color-primary-element);
    outline: none;
    opacity: unset;
}

.btn:not(.disabled, [disabled]):active {
    outline: none;
    opacity: unset;
    background-color: var(--color-main-background);
    color: var(--color-text-light);
}

.btn, .btn.active, .btn:active, .btn.disabled, .btn[disabled] {
    text-shadow: none;
    box-shadow: none;
}

.btn.buttonCompose {
    font-weight: bold;
    max-width: 100%;
    width: 100%;
}

.btn.btn-success {
    color: var(--color-primary-element-text);
    background-color: var(--color-primary-element);
    border-color: var(--color-primary-element);
}

.btn.btn-success:hover,
.btn.btn-success:focus {
    background-color: var(--color-primary-element-hover) !important;
    border-color: var(--color-primary-element-hover);
}

.btn.buttonCompose:active {
    color: var(--color-primary-text-dark);
}

.btn.buttonCompose,
.b-folders .btn.buttonContacts,
.b-footer.btn-toolbar .btn-group .btn {
    box-sizing: border-box !important;
    padding: 4px 14px;
    line-height: 36px;
    height: 44px;
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;

    font-size: var(--default-font-size);
    border-radius: var(--border-radius-pill);
}

.b-footer.btn-toolbar .btn-group .btn {
    background: transparent;
    text-align: left;
    font-size: 22px;
    margin: 3px;
    border: unset;
}

.b-footer.btn-toolbar .btn-group.hide-on-panel-disabled .btn {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

.b-footer.btn-toolbar .btn-group .btn.fontastic {
    background-color: var(--color-main-background);
}

.b-footer.btn-toolbar .btn-group .btn:after {
    font-family: var(--font-face);
    font-size: var(--default-font-size);
    position: absolute;
    margin-left: 15px;
}

.b-footer.btn-toolbar .btn-group .btn.fontastic:after {
    content: 'SnappyMail-Settings';
}

.b-footer.btn-toolbar .btn-group .btn.icon-folder-add:after {
    content: 'Create new folder';
}

.icon-folder-add::before,
.icon-resize-in::before {
    line-height: unset;
}

.b-footer.btn-toolbar .btn-group .btn:hover,
.b-footer.btn-toolbar .btn-group .btn.fontastic:hover {
    background-color: var(--color-background-hover);
}

.b-footer.btn-toolbar .btn-group .btn:active,
.b-footer.btn-toolbar .btn-group .btn.fontastic:active {
    background-color: var(--color-primary-element-light);
}

.b-footer.btn-toolbar .btn-group .btn:focus,
.b-footer.btn-toolbar .btn-group .btn.fontastic:focus {
    outline: none;
}

#V-MailMessageList .btn-toolbar {
    text-align: center;
}

/*
 * inputs
 */

input {
    padding: 0 12px;
    font-size: var(--default-font-size);
    color: var(--color-main-text);
    background-color: unset;
    height: 36px;
    outline: none;
    border: 2px solid var(--color-border-dark);
    border-radius: var(--border-radius-large);
}

input:hover,
input:active,
input:focus {
    border-color: var(--color-primary-element);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type=number] { 
    -moz-appearance: textfield;
    -webkit-appearance: textfield; 
    appearance: textfield;
    margin: 0; 
}

/*
 * select
 */

.emailaddresses,
.select, select {
    padding: 8px 12px;
    font-size: var(--default-font-size);
    color: var(--color-main-text);
    background-color: unset;
    height: 44px;
    outline: none;
    border: 2px solid var(--color-border-dark);
    border-radius: var(--border-radius-large);
    line-height: 24px;
}

.emailaddresses:hover,
.emailaddresses:active,
.emailaddresses:focus,
.select:hover, select:hover,
.select:active, select:active,
.select:focus, select:focus {
    border-color: var(--color-primary-element);
}

select option {
    background-color: var(--color-background-dark);
    color: var(--color-main-text);
}

/*
 * email address select
 */

.emailaddresses {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    /* max-height: padding*2 [top & bottom] + gap*(lines + 1) + li-height*lines [= li-height + li-padding*2 + li-border*2 ]  */
    max-height: calc(8px*2 + 5px*3 + 26px*2);
    height: auto;
    width: 100%;
}

.emailaddresses.emailaddresses-focused {
    border: 2px solid var(--color-primary-element);
}

.emailaddresses li[draggable] {
    line-height: 20px;
    padding: 2px 15px 2px 5px;
    color: var(--color-main-text);
    border: 1px solid var(--color-border-dark);
    border-radius: var(--border-radius);
    margin: 0;
    box-shadow: none;
    background-color: unset;
}

.emailaddresses li a {
    /* TODO */
}

/*
 * message list
 */

.thm-message-list-top-toolbar,
.thm-message-list-bottom-toolbar {
    background: unset !important;
}

.messageList .second-toolbar {
    align-items: center;
}

.messageList .second-toolbar,
.messageList .b-footer {
    border-color: var(--color-border);
}

.messageList .inputSearch {
    max-width: unset;
}

.messageList .closeSearch {
    position: absolute;
    top: 2px;
    right: 1px;
    min-width: unset;
    min-height: unset;
    height: 32px;
    font-size: 20px;
    line-height: 30px;
}

.messageList .checkboxCheckAll {
    margin: 0 12px;
}

.messageList .checkboxCheckAll:hover,
.messageList .checkboxCheckAll:focus {
    color: var(--color-primary-element);
}

.messageList .checkboxCheckAll:active {
    color: var(--color-primary-element-hover);
}

html:not(rl-mobile) .hideMessageListCheckbox .checkboxCheckAll {
    display: none;
}

.messageList .btn.buttonMoreSearch {
    background: unset;
    border-radius: var(--border-radius-large);
    margin: 0 0 0 8px;
    line-height: 20px !important;
}

.messageList .checkboxCheckAll,
.messageList .btn.buttonMoreSearch {
    font-size: var(--default-font-size);
    height: 28px;
    line-height: 28px;
}

.messageList .b-content .listThreadUidDesc {
    margin: 8px;
    color: var(--color-main-text);
    background: unset;
    border: solid 1px;
    border-radius: var(--border-radius-large);
    border-color: var(--color-border-dark);
}

.messageList .b-content .listThreadUidDesc:hover,
.messageList .b-content .listThreadUidDesc:focus {
    background: var(--color-background-hover);
}

.messageList .b-content .listThreadUidDesc:active {
    background-color: var(--color-primary-light);
}

.messageList .b-content .listSearchDesc {
    border-color: var(--color-border);
}

.messageList .b-content .listDragOver {
    /* ! does not work */
}

.messageList .b-content .listError {
    /* ? cant reproduce */
}

.messageList .b-content .listDragOver,
.messageList .b-content .listEmptyMessage,
.messageList .b-content .listError,
.messageList .b-content .listLoading {
    color: var(--color-text-lighter);
}

.messageListItem .checkboxMessage {
    border-color: var(--color-text-lighter);
    color: var(--color-text-lighter);
}

.messageListItem .checkboxMessage:hover,
.messageListItem .checkboxMessage:focus {
    background-color: var(--color-background-darker);
}

.messageListItem .checkboxMessage:active {
    background-color: var(--color-primary-light-hover);
}

.messageListItem .threads-len {
    color: var(--color-text-light);
    border-color: var(--color-text-light);
    padding: 0 4px;
}

.messageListItem .threads-len:hover,
.messageListItem .threads-len:focus {
    background-color: var(--color-background-darker);
    border-color: unset;
}

.messageListItem .threads-len:active {
    background-color: var(--color-primary-light-hover);
}

.messageListItem {
    padding: 8px;
    margin: 2px 0;
    border-bottom: unset;
    border-radius: var(--border-radius);
}

.messageListItem,
.messageListItem.focused {
    background-color: var(--color-background);
    border-left-color: var(--color-border);
}

.messageListItem:hover,
.messageListItem.focused:hover {
    background-color: var(--color-background-hover);
    border-left-color: var(--color-primary-light-hover);
}

.messageListItem.selected,
.messageListItem.selected:hover {
    background-color: var(--color-primary-element-light) !important;
    border-left-color: var(--color-primary-element-light-text);
}

.messageListItem.unseen,
.messageListItem.hasUnseenSubMessage {
    background-color: unset;
    border-left-color: var(--color-primary-element);
}

.messageListItem.unseen.focused,
.messageListItem.unseen.focused:hover,
.messageListItem.hasUnseenSubMessage.focused,
.messageListItem.hasUnseenSubMessage.focused:hover {
    background-color: var(--color-primary-light);
    border-left-color: var(--color-primary-element);
}

.messageListItem.unseen:hover,
.messageListItem.hasUnseenSubMessage:hover {
    background-color: var(--color-background-hover);
    border-left-color: var(--color-primary-element-hover);
}

.messageListItem.hasUnseenSubMessage .threads-len {
    border-color: var(--color-primary-element);
    border-width: 2px;
    font-weight: 700;
}

.messageListItem.hasUnseenSubMessage .threads-len:hover {
    border-color: var(--color-primary-element-hover);
}

.messageListItem.checked {
    background-color: unset;
    border-left-color: var(--color-primary-light-text);
}

.messageListItem.checked.focused {
    background-color: inherit;
    border-left-color: var(--color-primary-element-light-text);
}

.messageListItem.checked:hover,
.messageListItem.checked.focused:hover {
    background-color: var(--color-background-hover);
    border-left-color: inherit;
}

/*
 * message view
 */

#V-MailMessageView {
    bottom: 0;
}

html:not(.rl-mobile):not(.rl-no-preview-pane) .messageView .top-toolbar {
    /* TODO Improve mobile experience */
}

.messageView .b-message-view-desc,
.messageView .b-message-view-checked-helper {
    color: var(--color-text-lighter);
}

.messageView .b-message-view-desc.error {
    /* ? cant reproduce */
}

meter::-webkit-meter-bar {
    background-color: var(--color-border-dark);
    border-color: var(--color-border-dark);
    border-width: 2px;
    height: 10px;
}

.messageView .messageItemHeader .informationShort meter::-webkit-meter-optimum-value {
    background-color: var(--color-success);
    border-radius: var(--border-radius-pill);
}

.messageView .messageItemHeader .informationShort meter::-webkit-meter-suboptimum-value {
    background-color: var(--color-warning);
    border-radius: var(--border-radius-pill);
}

.messageView .messageItemHeader .informationShort meter::-webkit-meter-even-less-good-value {
    background-color: var(--color-error);
    border-radius: var(--border-radius-pill);
}

.messageView .messageItemHeader .hasVirus {
    background: unset;
    border: solid 2px var(--color-error);
    border-radius: var(--border-radius);
    margin: 5px;
}

.messageView .openpgp-control.encrypted,
.messageView .openpgp-control.signed {
    border-radius: var(--border-radius);
}

#V-MailMessageView .b-message-view-backdrop {
    background-color: var(--color-main-background-blur);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

#V-MailMessageView .b-message-view-backdrop .backdrop-message {
    background-color: var(--color-main-background);
    border: solid 1px var(--color-primary);
    border-radius: var(--border-radius-large);
    text-shadow: none;
    margin: 10px;
}

.messageView .messageAssignedTags {
    margin: 0 5px;
}

.messageView .messageAssignedTags span {
    border-radius: var(--border-radius-pill);
    background: unset;
    padding: 2px 5px;
}

#messageItem .readReceipt,
#messageItem .showImages {
    margin: 8px;
    color: var(--color-main-text);
    border: solid 1px var(--color-primary-element);
    background-color: var(--color-primary-light);
    border-radius: var(--border-radius-large);
}

#messageItem .readReceipt:hover,
#messageItem .showImages:hover {
    background-color: var(--color-primary-light-hover);
}

.messageView .messageItemHeader,
#messageItem .attachmentsPlace {
    background-color: unset;
    border-color: var(--color-border);
    color: var(--color-main-text);
}

#messageItem .attachmentsPlace {
    border-top: 1px solid var(--color-border);
    top: -1px;
}

#messageItem .attachmentsPlace .controls-handle {
    -webkit-user-select: none;
    user-select: none;
}

#messageItem .attachmentsPlace .attachmentItem {
    background-color: var(--color-background-dark);
    border-radius: var(--border-radius);
    box-shadow: none;
}

#messageItem .attachmentsPlace .attachmentItem:hover,
#messageItem .attachmentsPlace .attachmentItem:active {
    background-color: var(--color-background-darker);
}

#messageItem .attachmentsPlace .attachmentItem:focus {
    outline: none;
}

#messageItem .attachmentsPlace .attachmentItem .attachmentNameParent {
    border-color: var(--color-border-dark);
}

#messageItem .attachmentsPlace .attachmentItem .iconMain,
#messageItem .attachmentsPlace .attachmentItem .iconPreview {
    color: var(--color-text-light);
}

#messageItem .attachmentsControls {
    background-color: unset;
    border-color: var(--color-border);
    -webkit-user-select: none;
    user-select: none;
}

#messageItem .attachmentsControls .icon-file-archive,
#messageItem .attachmentsControls .fontastic {
    color: var(--color-main-text);
}

/*
 * message flags
 */

:root {
    --msgflag-\$label1-color: #ae2c35;
    --msgflag-\$label1-color-hover: #e13a45;
    --msgflag-\$label2-color: #cc9827;
    --msgflag-\$label2-color-hover: #ffbf31;
    --msgflag-\$label3-color: #005235;
    --msgflag-\$label3-color-hover: #008557;
    --msgflag-\$label4-color: #005cc4;
    --msgflag-\$label4-color-hover: #0074f8;
    --msgflag-\$label5-color: #5631c0;
    --msgflag-\$label5-color-hover: #6d3ff3;

    --msgflag-\\flagged-color: #ffca32;
}

.msgflag-\$label5:not(.focused) { border-color: var(--msgflag-\$label5-color); }
.msgflag-\$label4:not(.focused) { border-color: var(--msgflag-\$label4-color); }
.msgflag-\$label3:not(.focused) { border-color: var(--msgflag-\$label3-color); }
.msgflag-\$label2:not(.focused) { border-color: var(--msgflag-\$label2-color); }
.msgflag-\$label1:not(.focused) { border-color: var(--msgflag-\$label1-color); }

.msgflag-\$label5.focused:not(.selected) { border-color: var(--msgflag-\$label5-color) !important; }
.msgflag-\$label4.focused:not(.selected) { border-color: var(--msgflag-\$label4-color) !important; }
.msgflag-\$label3.focused:not(.selected) { border-color: var(--msgflag-\$label3-color) !important; }
.msgflag-\$label2.focused:not(.selected) { border-color: var(--msgflag-\$label2-color) !important; }
.msgflag-\$label1.focused:not(.selected) { border-color: var(--msgflag-\$label1-color) !important; }

.msgflag-\$label5:not(.focused):hover { border-color: var(--msgflag-\$label5-color-hover); }
.msgflag-\$label4:not(.focused):hover { border-color: var(--msgflag-\$label4-color-hover); }
.msgflag-\$label3:not(.focused):hover { border-color: var(--msgflag-\$label3-color-hover); }
.msgflag-\$label2:not(.focused):hover { border-color: var(--msgflag-\$label2-color-hover); }
.msgflag-\$label1:not(.focused):hover { border-color: var(--msgflag-\$label1-color-hover); }

.msgflag-\$label1:not(.focused), .msgflag-\$label1 .checkboxMessage,
.msgflag-\$label2:not(.focused), .msgflag-\$label2 .checkboxMessage,
.msgflag-\$label3:not(.focused), .msgflag-\$label3 .checkboxMessage,
.msgflag-\$label4:not(.focused), .msgflag-\$label4 .checkboxMessage,
.msgflag-\$label5:not(.focused), .msgflag-\$label5 .checkboxMessage {
    background-color: unset;
    color: unset;
}

.messageListItem.msgflag-\$label1:hover,
.messageListItem.msgflag-\$label2:hover,
.messageListItem.msgflag-\$label3:hover,
.messageListItem.msgflag-\$label4:hover,
.messageListItem.msgflag-\$label5:hover {
    background-color: var(--color-background-hover);
}

a.msgflag-\$label1,
a.msgflag-\$label2,
a.msgflag-\$label3,
a.msgflag-\$label4,
a.msgflag-\$label5 {
    border-left: solid 5px;
}

.btn-group.show .dropdown-menu div li a[class^='msgflag-']:not(.msgflag-\$label1, .msgflag-\$label2, .msgflag-\$label3, .msgflag-\$label4, .msgflag-\$label5),
.btn-group.show .dropdown-menu div li a[class*='msgflag-']:not(.msgflag-\$label1, .msgflag-\$label2, .msgflag-\$label3, .msgflag-\$label4, .msgflag-\$label5) {
    border-left: solid 5px transparent;
}

.b-folders .is-flagged .flag-icon::after,
.messageListItem.hasFlaggedSubMessage .flagParent::after,
.messageListItem.msgflag-\\flagged .flagParent::after {
    color: var(--msgflag-\\flagged-color);
}

/*
 * dropdown menus
 */

.dropdown.show {
    box-shadow: none;
}

.dropdown-menu {
    background-color: var(--color-main-background);
    filter: drop-shadow(0 1px 5px var(--color-box-shadow));
    border-radius: var(--border-radius-large);
    color: var(--color-main-text);
    padding: 4px;
}

.dropdown-menu a {
    background-color: unset;
    color: unset;
    height: 22px;
    line-height: 22px;
    border-radius: 3px;
    margin: 2px;
}

.dropdown-menu li.disabled > a,
.dropdown-menu li.disabled > a:hover,
.dropdown-menu li.disabled > a:focus,
.dropdown-menu li.disabled > a:active {
    opacity: .5;
    filter: saturate(0.7);
}

.dropdown-menu li:not(.disabled) > a:hover,
.dropdown-menu li:not(.disabled) > a:focus {
    background-color: var(--color-background-hover);
    color: unset;
    opacity: unset;
}

.dropdown-menu li:not(.disabled) > a:active {
    background-color: var(--color-primary-light);
}

.dropdown-menu *+.dividerbar {
    border-color: var(--color-border);
}

.dropdown-menu ::-webkit-scrollbar-track-piece {
    background-color: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

/*
 * account selector
 */

.btn-toolbar.g-ui-user-select-none {
    border: solid 1px var(--color-border-dark);
    border-radius: var(--border-radius-large);
    height: 36px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#V-SystemDropDown .accountPlace {
    background: unset;
    color: unset;
    text-shadow: none;
}

#V-SystemDropDown #top-system-dropdown-id {
    background-color: unset;
    border: unset;
    border-radius: var(--border-radius-large) !important;
    height: 20px;
}

#V-SystemDropDown #top-system-dropdown-id:hover,
#V-SystemDropDown #top-system-dropdown-id:focus {
    background-color: var(--color-background-hover);
}

#V-SystemDropDown #top-system-dropdown-id:active {
    background-color: var(--color-background-dark);
}

/* TODO: darken mails only with NC dark theme (needs some more js) */
/*
 * dark mails
 */

@media (prefers-color-scheme: dark) {
  .bodyText, .bodyText img {
    filter: invert(95%) hue-rotate(180deg);
  }

  .bodyText img {
      border-radius: 4px;
  }
}

/* TODO: Improve settings layout and theming */
/*
 * settings 
 */

#rl-settings-subscreen {
    background-color: unset;
    box-shadow: none;
    border: none;
}

.legend {
    color: unset;
    border-color: var(--color-border);
}

/*
 * scrollbar
 */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: var(--border-radius-large);
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::selection {
    background-color: var(--color-primary-element);
    color: var(--color-primary-text);
}

/* TODO: Improve popup layout and theming */
/*
 * Popups
 */

dialog {
    background: var(--color-main-background);
    color: var(--color-main-text);
    border-radius: var(--border-radius-large);
    filter: drop-shadow(0 1px 5px var(--color-box-shadow));
    box-shadow: none;
    border-color: var(--color-border);
}

#V-PopupsCompose .b-header {
    background: unset;
}

.squire-toolbar {
    height: 50px;
}

dialog > header,
dialog > footer,
.squire-toolbar {
    border-color: var(--color-border);
}