<IfModule mod_rewrite.c>
	RewriteCond %{HTTP:Accept-encoding} br
	RewriteCond "%{REQUEST_FILENAME}\.br" -s
	RewriteRule "^(.+\.js)$" "$1\.br" [L,T=application/javascript,QSA]

	RewriteCond %{HTTP:Accept-encoding} gzip
	RewriteCond "%{REQUEST_FILENAME}\.gz" -s
	RewriteRule "^(.+\.js)$" "$1\.gz" [L,T=application/javascript,QSA]

	RewriteCond %{HTTP:Accept-encoding} br
	RewriteCond "%{REQUEST_FILENAME}\.br" -s
	RewriteRule "^(.+\.css)$" "$1\.br" [L,T=text/css,QSA]

	RewriteCond %{HTTP:Accept-encoding} gzip
	RewriteCond "%{REQUEST_FILENAME}\.gz" -s
	RewriteRule "^(.+\.css)$" "$1\.gz" [L,T=text/css,QSA]
</IfModule>
