<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex, nofollow, noodp">
	<title>{{ErrorTitle}}</title>
	<style type="text/css">
	html, body {
		font-family: arial, sans-serif;
		font-size: 14px;
	}
	.content {
		position: absolute;
		left: 50%;
		top: 50%;
		text-align: center;
		width: 600px;
		margin: -200px 0 0 -250px;
		background: #FFF;
		line-height: 150%;
		border-bottom: 1px solid #E4E4E4;
	}
	.error-desc {
		background-color: #eee;
		padding: 10px;
	}
	a {
		display: inline-block;
		width: 150px;
	}
	</style>
</head>
<body class="content">
	<h1>{{ErrorHeader}}</h1>
	<br>
	<div class="error-desc">
		<p>{{ErrorDesc}}</p>
		<a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a>
		<a href="https://www.microsoft.com/edge/" target="_blank">Microsoft Edge</a>
		<a href="https://www.mozilla.org/firefox/" target="_blank">Mozilla Firefox</a>
	</div>
</body>
</html>
