<div class="b-admin-domains g-ui-user-select-none">
	<div class="legend">
		<span data-i18n="TAB_DOMAINS/LEGEND_DOMAINS"></span>
		<i class="icon-spinner" style="margin: 5px" data-bind="visible: domains.loading"></i>
	</div>
	<div>
		<a class="btn" data-bind="click: createDomain">
			<i class="fontastic">✚</i>
			<span data-i18n="TAB_DOMAINS/BUTTON_ADD_DOMAIN"></span>
		</a>
		&nbsp;&nbsp;
		<a class="btn" data-bind="click: createDomainAlias">
			<i class="fontastic">✚</i>
			<span data-i18n="TAB_DOMAINS/BUTTON_ADD_ALIAS"></span>
		</a>
		<br />
		<br />
		<blockquote>
			<p class="muted" data-i18n="[html]TAB_DOMAINS/HTML_DOMAINS_HELPER"></p>
		</blockquote>
		<table class="table table-hover b-admin-domains-list-table" data-bind="i18nUpdate: domains">
			<colgroup>
				<col />
				<col style="width: 140px" />
				<col style="width: 1%" />
				<col style="width: 1%" />
			</colgroup>
			<tbody data-bind="foreach: domains">
				<tr data-bind="css: {'disabled': disabled }">
					<td class="e-action">
						<span class="domain-name" data-bind="text: name"></span>
						<span class="domain-alias" data-bind="if: alias">(alias)</span>
					</td>
					<td>
						<a class="btn btn-small btn-small-small btn-danger button-delete button-delete-transitions" data-bind="css: {'delete-access': deleteAccess()}, click: function(oDomain) { $root.deleteDomain(oDomain); }"
							data-i18n="TAB_DOMAINS/DELETE_ARE_YOU_SURE"></a>
					</td>
					<td>
						<span class="delete-domain fontastic" data-bind="visible: !deleteAccess(), click: function (oDomain) { $root.domainForDeletion(oDomain); }">🗑</span>
					</td>
					<td class="disabled-domain fontastic" data-bind="click: function (oDomain) { $root.disableDomain(oDomain); }, text: disabled() ? '☐' : '☑'"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
