<div class="b-settings b-admin-right">
	<div class="b-toolbar g-ui-user-select-none">
		<a class="btn btn-thin-2 fontastic toggleLeft" data-bind="click: toggleLeft, text: leftPanelDisabled() ? '❯' : '❮'">❮</a>
		<i class="icon-spinner" style="margin: 10px" data-bind="style: {'visibility': adminManLoadingVisibility }"></i>
		<h4>SnappyMail - <span data-i18n="TOP_PANEL/LABEL_ADMIN_PANEL"></span></h4>
		<a class="btn btn-logout fontastic" data-bind="click: logoutClick">⏻</a>
	</div>
	<div class="b-content">
		<div id="rl-settings-subscreen"></div>
	</div>
</div>
