<div class="legend">application.ini</div>
<form method="POST" data-bind="submit: saveConfig" spellcheck="false" autocomplete="off" autocapitalize="none">
<table class="table table-hover table-bordered">
	<!-- ko foreach: config -->
	<tbody>
		<tr><th colspan="3" data-bind="text: name"></th></tr>
		<!-- ko foreach: items -->
		<tr>
			<td data-bind="text: name"></td>
			<td>
				<!-- ko if: 'checkbox' == type -->
				<input type="checkbox" data-bind="attr: {name: key, checked: value}">
				<!-- /ko -->
				<!-- ko if: options -->
				<select data-bind="attr: {name: key}, options: options, value: value"></select>
				<!-- /ko -->
				<!-- ko if: 'checkbox' != type && !options -->
				<input data-bind="attr: {name: key, type: type}, value: value" autocorrect="off">
				<!-- /ko -->
				<em data-bind="text: comment, visible: comment"></em>
			</td>
		</tr>
		<!-- /ko -->
	</tbody>
	<!-- /ko -->
</table>
<button class="btn" data-i18n="GLOBAL/SAVE" data-bind="css:{'btn-success':saved()},attr:{'data-icon':saved()?'✔':'💾'}"></button>
</form>
