<div class="b-admin-about">
	<div class="form-horizontal">
		<div class="legend" data-i18n="TAB_ABOUT/LEGEND_ABOUT"></div>
		<div class="row" style="min-width: 800px;">
			<div class="span4">
				<div class="rl-logo"></div>
				<div>
					2021 © <span data-i18n="TAB_ABOUT/LABEL_ALL_RIGHTS_RESERVED"></span>
					<br />
					<a class="g-ui-link" href="https://snappymail.eu/" target="_blank" style="padding-left: 0">https://snappymail.eu/</a>
				</div>
			</div>
			<div class="rl-desc span6">
				<h1 style="margin-bottom: 0;">SnappyMail</h1>
				<h4 style="margin-top: 0;" data-bind="text: version"></h4>
				<h4 style="color: #aaa; font-weight: normal;">An advanced fork of <a href="https://www.rainloop.net/" target="_blank">RainLoop</a></h4>
				<h4 style="color: #aaa; font-weight: normal;" data-i18n="TAB_ABOUT/LABEL_TAG_HINT"></h4>
			</div>
		</div>
	</div>
</div>
