<div class="form-horizontal">
	<div class="legend" data-i18n="TAB_BRANDING/LEGEND_BRANDING"></div>
	<div class="control-group">
		<label data-i18n="TAB_BRANDING/LABEL_PAGE_TITLE"></label>
		<input class="span5" type="text" autocorrect="off" data-bind="textInput: title, saveTrigger: titleTrigger">
	</div>
	<div class="control-group">
		<label data-i18n="TAB_BRANDING/LABEL_LOADING_DESCRIPTION"></label>
		<input class="span5" type="text" autocorrect="off" data-bind="textInput: loadingDescription, saveTrigger: loadingDescriptionTrigger">
	</div>
	<div class="control-group">
		<label data-i18n="TAB_BRANDING/LABEL_FAVICON_URL"></label>
		<input class="span5" type="text" placeholder="https://" autocorrect="off" data-bind="textInput: faviconUrl, saveTrigger: faviconUrlTrigger">
	</div>
</div>
