<div class="b-settings-personal">
	<div class="form-horizontal">
		<div class="legend">
			<span class="i18n" data-i18n-text="SETTINGS_PERSONAL/LEGEND_PERSONAL"></span>
		</div>
		<div class="control-group">
			 <label class="control-label">
				 <span class="i18n" data-i18n-text="SETTINGS_PERSONAL/LABEL_DISPLAY_NAME"></span>
			 </label>
			<div class="controls">
				<input class="input-xlarge" type="text" data-bind="value: displayName" />
				<div data-bind="saveTrigger: nameTrigger"></div>
			</div>
		</div>
		<div class="control-group" style="display: none">
			 <label class="control-label">
				 <span class="i18n" data-i18n-text="SETTINGS_PERSONAL/LABEL_REPLY_TO"></span>
			 </label>
			<div class="controls">
				<input class="input-xlarge" type="text" data-bind="value: replyTo" />
			</div>
		</div>
		<div class="control-group">
			 <label class="control-label">
				 <span class="i18n" data-i18n-text="SETTINGS_PERSONAL/LABEL_SIGNATURE"></span>
			 </label>
			<div class="controls">
				<textarea class="input-xxlarge" data-bind="value: signature" rows="7"></textarea>
				<div style="vertical-align: top;" data-bind="saveTrigger: signatureTrigger"></div>
			</div>
		</div>
	</div>
</div>