<!DOCTYPE html>
<html id="id-html">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<noscript>
			<meta http-equiv="refresh" content="0; URL=./?/NoScript" />
		</noscript>
		<!--[if lte IE 7]>
			<meta http-equiv="refresh" content="0; URL=./?/BadBrowser" />
		<![endif]-->
		<script type="text/javascript">
			if (!navigator || !navigator.cookieEnabled) {
				document.location.replace('./?/NoCookie');
			}
		</script>
		<meta name="robots" content="noindex, nofollow, noodp" />
		<meta name="google" content="notranslate" />
		<title></title>
		<link rel="shortcut icon" href="{{BaseAppFaviconFile}}" />
		<link type="text/css" rel="stylesheet" href="{{BaseAppMainCssLink}}" />
		<link type="text/css" rel="stylesheet" id="rlThemeLink" />
		<script type="text/javascript" src="{{BaseAppBootScriptLink}}"></script>
		<script type="text/javascript">
			document.write(unescape('%3Cscript type="text/javascript" src="{{BaseAppDataScriptLink}}' + (window.__rlah ? window.__rlah() || '0' : '0') + '/"%3E%3C/script%3E'));
		</script>
		<script type="text/javascript">
			if (window.rainloopAppData && window.rainloopAppData['Theme'] && window.rainloopAppData['NewThemeLink']) {
				var
					oLink = document.getElementById('rlThemeLink');
					sHref = window.rainloopAppData['NewThemeLink']
				;
				
				if (oLink) {
					if ('Custom' === window.rainloopAppData['Theme']) {
						sHref = sHref.replace('/Css/0/User/-/Custom/-/', '/Css/' + (window.__rlah ? window.__rlah() || '0' : '0') + '/User/-/Custom/-/');
					}

					document.getElementById('rlThemeLink').href = sHref;
				}

				oLink = null;
				sHref = null;
			}
		</script>
	</head>
	<body class="thm-body">
		<div id="rl-loading" class="thm-loading">RainLoop</div>
		<div id="rl-content">
			<div id="rl-popups"></div>
			<div id="rl-center">
				<div id="rl-top"></div>
				<div id="rl-left"></div>
				<div id="rl-right"></div>
				<div id="rl-bottom"></div>
			</div>
		</div>
		<div id="rl-hidden">
			{{BaseTemplates}}
			<script type="text/javascript">
				if (window.rainloopAppData && window.rainloopAppData['LangLink']) {
					document.write(unescape('%3Cscript type="text/javascript" src="' + window.rainloopAppData['LangLink'] + '"%3E%3C/script%3E'));
				}
			</script>
			<script type="text/javascript" src="{{BaseAppJqueryScriptLink}}"></script>
			<script type="text/javascript" src="{{BaseAppLibsScriptLink}}"></script>
			<script type="text/javascript" src="{{BaseAppMainScriptLink}}"></script>
			<script type="text/javascript">
				if (window.rainloopAppData && window.rainloopAppData['PluginsLink']) {
					document.write(unescape('%3Cscript type="text/javascript" src="' + window.rainloopAppData['PluginsLink'] + '"%3E%3C/script%3E'));
				}
			</script>
		</div>
	</body>
</html>
