<div class="modal fade b-languages-content g-ui-user-select-none" data-bind="modal: modalVisibility">
	<div class="modal-header">
		<button type="button" class="close" data-bind="command: cancelCommand">×</button>
		<h3 data-i18n="POPUPS_LANGUAGES/TITLE_LANGUAGES"></h3>
	</div>
	<div class="modal-body" style="min-height: 150px;" data-bind="foreach: languages">
		<label data-bind="click: function () { $root.changeLanguage(key); }, css: {'selected': selected, 'user': user},
			attr: { title: $root.languageTooltipName(key) },
			text: fullName">
		</label>
	</div>
</div>
