<div class="modal fade b-languages-content g-ui-user-select-none" data-bind="modal: modalVisibility">
	<div class="modal-header">
		<button type="button" class="close" data-bind="command: cancelCommand">×</button>
		<h3>
			<span class="i18n" data-i18n="POPUPS_LANGUAGES/TITLE_LANGUAGES"></span>
		</h3>
	</div>
	<div class="modal-body" style="min-height: 150px;">
		<div data-bind="foreach: languages">
			<label class="lang-item" data-tooltip-i18n="off" data-bind="click: function () { $root.changeLanguage(key); }, css: {'selected': selected, 'user': user},
				tooltip: function () { return $root.languageTooltipName(key); },
				text: fullName">
			</label>
		</div>
	</div>
</div>
