
:root {
	color-scheme: dark;

	/* MAIN */
	--main-color: #fff;
	--main-bg-color: #48525C;
	--main-bg-image: url("images/background.jpg");
	--main-bg-size: cover;

	/* LOADING */
	--loading-color: #ddd;
	--loading-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);

	/* LOGIN */
	--login-color: #eee;
	--login-bg-color: rgba(0,0,0,0.5);
	--login-box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
	--login-border: none;
	--login-border-radius: 7px;

	/* MENU */
	--dropdown-menu-color: #999;
	--dropdown-menu-bg-color: #333;
	--dropdown-menu-hover-bg-color: #48525C;
	--dropdown-menu-hover-color: #eee;
	--dropdown-menu-disable-color: #999;

	/* FOLDERS */
	--folders-color: #fff;
	--folders-disabled-color: #aaa;
	--folders-selected-color: #fff;
	--folders-selected-bg-color: #444;
	--folders-focused-color: #fff;
	--folders-focused-bg-color: rgba(0,0,0,0.7);
	--folders-hover-color: #fff;
	--folders-hover-bg-color: rgba(0,0,0,0.5);
	--folders-drop-color: #fff;
	--folders-drop-bg-color: rgba(0,0,0,0.5);

	/* SETTINGS */
	--settings-bg-clr: #333;
	--settings-menu-color: #fff;
	--settings-menu-selected-color: #fff;
	--settings-menu-selected-bg-color: #444;
	--settings-menu-hover-color: #fff;
	--settings-menu-hover-bg-color: rgba(0,0,0,0.5);

	/* MESSAGE LIST */
	--message-list-toolbar-bg-color: #eee;
}

::-webkit-scrollbar {
	width: 0.8em;
}
::-webkit-scrollbar-track {
	background-color: #000;
}
::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 5px;
	box-shadow: inset 0 0 3px #000;
}

.dropdown-menu {
	padding: 0;
}

.dropdown-menu *+.dividerbar {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

#V-SystemDropDown .accountPlace {
	color: #ccc;
}

.thm-message-list-top-toolbar, .thm-message-list-bottom-toolbar {
    background-color: #111 !important;
	color: var(--main-color);
}

.btn:not(.btn-success):not(.btn-warning):not(.btn-danger) {
	border-color: rgba(255,255,255,.15) rgba(255,255,255,.15) rgba(255,255,255,.25);
	box-shadow: inset 0 1px 0 rgba(0,0,0,.2), 0 1px 2px rgba(255,255,255,.05);
	color: var(--main-color);
	text-shadow: 0 -1px 0 rgba(255,255,255,.25);
	background-color: #222;
}
.btn:not(.btn-success):not(.btn-warning):not(.btn-danger).active,
.btn:not(.btn-success):not(.btn-warning):not(.btn-danger):active {
	box-shadow: inset 0 2px 4px rgba(255,255,255,.5), 0 1px 2px rgba(255,255,255,.25);
}
.btn .icon-spinner {
    border-color: #333;
    border-top-color: #ccc;
}
.btn .caret {
	border-top-color: var(--main-color);
}

#rl-popups > dialog,
.messageList,
.messageView,
.alert-info,
#V-PopupsCompose .b-attachment-place {
	background-color: #333;
	border-color: #555;
	color: var(--main-color);
}

.legend,
dialog header, dialog footer,
.table td, .table th {
	border-color: #555 !important;
}

.legend,
.messageView #messageItem {
	color: var(--main-color);
}

.rl-mobile .squire-toolbar,
#V-PopupsCompose .b-attachment-place.dragAndDropOver {
	background-color: #222;
}

.g-ui-link,
.messageView .messageItemHeader .informationShort a,
.messageView #messageItem .bodyText .b-text-part a {
	color: #6AE;
}

.messageView .messageItemHeader,
.messageView #messageItem .pgpEncrypted,
.messageView #messageItem .pgpSigned,
.messageView #messageItem .readReceipt,
.messageView #messageItem .showImages,
.messageView #messageItem .attachmentsPlace,
.messageView #messageItem .attachmentsControls {
	background-color: #222;
	border-bottom-color: #444;
}

.messageListItem {
	border-left-color: #111;
    color: #EEE;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: #333;
}

.table-striped tbody tr:nth-child(2n+1) td,
.table-striped tbody tr:nth-child(2n+1) th {
	background-color: #111;
}

#V-Settings-About .rl-logo {
	filter: invert(1);
}

.tabs [id^="tab"]:checked + label {
	background: linear-gradient(#555 0%, #000 100%);
}

input, textarea, .select, select, .emailaddresses {
    background-color: #222;
    border-color: #aaa;
    color: #fff;
}
.select, select {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGhlaWdodD0nMTBweCcgd2lkdGg9JzE1cHgnPjx0ZXh0IHg9JzAnIHk9JzEwJyBmaWxsPSdyZ2IoMjU1LDI1NSwyNTUpJz7ilr48L3RleHQ+PC9zdmc+);
}

hr {
	border-color: #666;
}

#messageItem .b-text-part blockquote,
.b-settings-general .editMainIdentity {
    border-color: #999;
}
